# Imports

In [1]:
import warnings

import numpy  as np
import pandas as pd

from scipy import stats
from geopy.distance import geodesic

## Functions

In [2]:
random_state = 42
np.random.seed(random_state)

In [3]:
def jupyter_settings():

    # plt.rcParams['figure.figsize'] = [25, 12]
    # plt.rcParams['font.size'] = 16
    
    pd.options.display.max_columns = None
    pd.options.display.max_rows = 100
    pd.set_option('display.expand_frame_repr', False)
    
jupyter_settings()

In [4]:
def change_to_bold(text):

    return f'\033[1m{text}\033[0m'

In [5]:
def get_data_frame_analysis(df):

    print(f"\n{change_to_bold('First 5 lines')}")
    display(df.head())

    print(f"\n{change_to_bold('Last 5 lines')}")
    display(df.tail())

    print(f"\n{change_to_bold('Types')}")
    display(df.dtypes)

    print(f"\n{change_to_bold('Shape')}")
    display(df.shape)

    print(f"\n{change_to_bold('Number of uniques')}")
    display(df.nunique())
    
    print(f"\n{change_to_bold('Percentage of NAs')}")
    display(df.isna().mean())

    print(f"\n{change_to_bold('Number of NAs')}")
    display(df.isna().mean())

In [6]:
def get_distance_in_km(lat, lng, lat1, lng1):

    tuple_lat_lng = (lat, lng)
    tuple_lat1_lng1 = (lat1, lng1)
    
    try:
        dist = geodesic(tuple_lat_lng, tuple_lat1_lng1).km

    except:
        dist = np.nan

    return dist

In [7]:
def get_categorical_mode(arr):
    
    """
    Returns the most frequent value in a numpy array.
    """
    
    arr = list(arr)
    
    return max(set(arr), key=arr.count)

In [8]:
def turn_agg_into_dataframe(df: pd.DataFrame):

    columns = df.columns.values
    
    df.columns = ['_'.join(col).rstrip('_') for col in columns]
    df = df.reset_index()

    return df

# Loading Datasets

In [9]:
df_customers = pd.read_csv('../data/raw/olist_customers_dataset.csv')
df_geolocation = pd.read_csv('../data/raw/olist_geolocation_dataset.csv')
df_items = pd.read_csv('../data/raw/olist_order_items_dataset.csv')
df_payments = pd.read_csv('../data/raw/olist_order_payments_dataset.csv')
df_orders = pd.read_csv('../data/raw/olist_orders_dataset.csv')
df_products = pd.read_csv('../data/raw/olist_products_dataset.csv')
df_sellers = pd.read_csv('../data/raw/olist_sellers_dataset.csv')

# Data Base Analysis

## Customers

In [10]:
get_data_frame_analysis(df_customers)

First 5 lines

                        customer_id                customer_unique_id  customer_zip_code_prefix          customer_city customer_state
0  06b8999e2fba1a1fbc88172c00ba8bc7  861eff4711a542e4b93843c6dd7febb0                     14409                 franca             SP
1  18955e83d337fd6b2def6b18a428ac77  290c77bc529b7ac935b93aa66c333dc3                      9790  sao bernardo do campo             SP
2  4e7b3e00288586ebd08712fdd0374a03  060e732b5b29e8181a18229c7b0b2b5e                      1151              sao paulo             SP
3  b2b6027bc5c5109e529d4dc6358b12c3  259dac757896d24d7702b9acbbff3f3c                      8775        mogi das cruzes             SP
4  4f2d8ab171c80ec8364f7c12e35b23ad  345ecd01c38d18a9036ed96c73b8d066                     13056               campinas             SP

Last 5 lines

                            customer_id                customer_unique_id  customer_zip_code_prefix    customer_city customer_state
99436  17ddf5dd5d51696bb3d7c6291687be6f  1a29b476fee25c95fbafc67c5ac95cf8                      3937        sao paulo             SP
99437  e7b71a9017aa05c9a7fd292d714858e8  d52a67c98be1cf6a5c84435bd38d095d                      6764  taboao da serra             SP
99438  5e28dfe12db7fb50a4b2f691faecea5e  e9f50caf99f032f0bf3c55141f019d99                     60115        fortaleza             CE
99439  56b18e2166679b8a959d72dd06da27f9  73c2643a0a458b49f58cea58833b192e                     92120           canoas             RS
99440  274fa6071e5e17fe303b9748641082c8  84732c5050c01db9b23e19ba39899398                      6703            cotia             SP

Types

customer_id                 object
customer_unique_id          object
customer_zip_code_prefix     int64
customer_city               object
customer_state              object
dtype: object

Shape

(99441, 5)

Number of uniques

customer_id                 99441
customer_unique_id          96096
customer_zip_code_prefix    14994
customer_city                4119
customer_state                 27
dtype: int64

Percentage of NAs

customer_id                 0.0
customer_unique_id          0.0
customer_zip_code_prefix    0.0
customer_city               0.0
customer_state              0.0
dtype: float64

Number of NAs

customer_id                 0.0
customer_unique_id          0.0
customer_zip_code_prefix    0.0
customer_city               0.0
customer_state              0.0
dtype: float64

In [11]:
df_customers['customer_zip_code_prefix'] = df_customers['customer_zip_code_prefix'].astype(int).astype(str)

## Geolocation

In [12]:
get_data_frame_analysis(df_geolocation)

First 5 lines

   geolocation_zip_code_prefix  geolocation_lat  geolocation_lng geolocation_city geolocation_state
0                         1037       -23.545621       -46.639292        sao paulo                SP
1                         1046       -23.546081       -46.644820        sao paulo                SP
2                         1046       -23.546129       -46.642951        sao paulo                SP
3                         1041       -23.544392       -46.639499        sao paulo                SP
4                         1035       -23.541578       -46.641607        sao paulo                SP

Last 5 lines

         geolocation_zip_code_prefix  geolocation_lat  geolocation_lng geolocation_city geolocation_state
1000158                        99950       -28.068639       -52.010705         tapejara                RS
1000159                        99900       -27.877125       -52.224882   getulio vargas                RS
1000160                        99950       -28.071855       -52.014716         tapejara                RS
1000161                        99980       -28.388932       -51.846871  david canabarro                RS
1000162                        99950       -28.070104       -52.018658         tapejara                RS

Types

geolocation_zip_code_prefix      int64
geolocation_lat                float64
geolocation_lng                float64
geolocation_city                object
geolocation_state               object
dtype: object

Shape

(1000163, 5)

Number of uniques

geolocation_zip_code_prefix     19015
geolocation_lat                717360
geolocation_lng                717613
geolocation_city                 8011
geolocation_state                  27
dtype: int64

Percentage of NAs

geolocation_zip_code_prefix    0.0
geolocation_lat                0.0
geolocation_lng                0.0
geolocation_city               0.0
geolocation_state              0.0
dtype: float64

Number of NAs

geolocation_zip_code_prefix    0.0
geolocation_lat                0.0
geolocation_lng                0.0
geolocation_city               0.0
geolocation_state              0.0
dtype: float64

In [13]:
df_geolocation['geolocation_zip_code_prefix'] = df_geolocation['geolocation_zip_code_prefix'].astype(int).astype(str)

## Items

In [14]:
get_data_frame_analysis(df_items)

First 5 lines

                           order_id  order_item_id                        product_id                         seller_id  shipping_limit_date   price  freight_value
0  00010242fe8c5a6d1ba2dd792cb16214              1  4244733e06e7ecb4970a6e2683c13e61  48436dade18ac8b2bce089ec2a041202  2017-09-19 09:45:35   58.90          13.29
1  00018f77f2f0320c557190d7a144bdd3              1  e5f2d52b802189ee658865ca93d83a8f  dd7ddc04e1b6c2c614352b383efe2d36  2017-05-03 11:05:13  239.90          19.93
2  000229ec398224ef6ca0657da4fc703e              1  c777355d18b72b67abbeef9df44fd0fd  5b51032eddd242adc84c38acab88f23d  2018-01-18 14:48:30  199.00          17.87
3  00024acbcdf0a6daa1e931b038114c75              1  7634da152a4610f1595efa32f14722fc  9d7a1d34a5052409006425275ba1c2b4  2018-08-15 10:10:18   12.99          12.79
4  00042b26cf59d7ce69dfabb4e55b4fd9              1  ac6c3623068f30de03045865e4e10089  df560393f3a51e74553ab94004ba5c87  2017-02-13 13:57:51  199.90          18.14

Last 5 lines

                                order_id  order_item_id                        product_id                         seller_id  shipping_limit_date   price  freight_value
112645  fffc94f6ce00a00581880bf54a75a037              1  4aa6014eceb682077f9dc4bffebc05b0  b8bc237ba3788b23da09c0f1f3a3288c  2018-05-02 04:11:01  299.99          43.41
112646  fffcd46ef2263f404302a634eb57f7eb              1  32e07fd915822b0765e448c4dd74c828  f3c38ab652836d21de61fb8314b69182  2018-07-20 04:31:48  350.00          36.53
112647  fffce4705a9662cd70adb13d4a31832d              1  72a30483855e2eafc67aee5dc2560482  c3cfdc648177fdbbbb35635a37472c53  2017-10-30 17:14:25   99.90          16.95
112648  fffe18544ffabc95dfada21779c9644f              1  9c422a519119dcad7575db5af1ba540e  2b3e4a2a3ea8e01938cabda2a3e5cc79  2017-08-21 00:04:32   55.99           8.72
112649  fffe41c64501cc87c801fd61db3f6244              1  350688d9dc1e75ff97be326363655e01  f7ccf836d21b2fb1de37564105216cc1  2018-06-12 17:10:13   43.00          12.79

Types

order_id                object
order_item_id            int64
product_id              object
seller_id               object
shipping_limit_date     object
price                  float64
freight_value          float64
dtype: object

Shape

(112650, 7)

Number of uniques

order_id               98666
order_item_id             21
product_id             32951
seller_id               3095
shipping_limit_date    93318
price                   5968
freight_value           6999
dtype: int64

Percentage of NAs

order_id               0.0
order_item_id          0.0
product_id             0.0
seller_id              0.0
shipping_limit_date    0.0
price                  0.0
freight_value          0.0
dtype: float64

Number of NAs

order_id               0.0
order_item_id          0.0
product_id             0.0
seller_id              0.0
shipping_limit_date    0.0
price                  0.0
freight_value          0.0
dtype: float64

In [15]:
df_items['shipping_limit_date'] = pd.to_datetime(df_items['shipping_limit_date'], format='%Y-%m-%d %H:%M:%S')

## Payments

In [16]:
get_data_frame_analysis(df_payments)

First 5 lines

                           order_id  payment_sequential payment_type  payment_installments  payment_value
0  b81ef226f3fe1789b1e8b2acac839d17                   1  credit_card                     8          99.33
1  a9810da82917af2d9aefd1278f1dcfa0                   1  credit_card                     1          24.39
2  25e8ea4e93396b6fa0d3dd708e76c1bd                   1  credit_card                     1          65.71
3  ba78997921bbcdc1373bb41e913ab953                   1  credit_card                     8         107.78
4  42fdf880ba16b47b59251dd489d4441a                   1  credit_card                     2         128.45

Last 5 lines

                                order_id  payment_sequential payment_type  payment_installments  payment_value
103881  0406037ad97740d563a178ecc7a2075c                   1       boleto                     1         363.31
103882  7b905861d7c825891d6347454ea7863f                   1  credit_card                     2          96.80
103883  32609bbb3dd69b3c066a6860554a77bf                   1  credit_card                     1          47.77
103884  b8b61059626efa996a60be9bb9320e10                   1  credit_card                     5         369.54
103885  28bbae6599b09d39ca406b747b6632b1                   1       boleto                     1         191.58

Types

order_id                 object
payment_sequential        int64
payment_type             object
payment_installments      int64
payment_value           float64
dtype: object

Shape

(103886, 5)

Number of uniques

order_id                99440
payment_sequential         29
payment_type                5
payment_installments       24
payment_value           29077
dtype: int64

Percentage of NAs

order_id                0.0
payment_sequential      0.0
payment_type            0.0
payment_installments    0.0
payment_value           0.0
dtype: float64

Number of NAs

order_id                0.0
payment_sequential      0.0
payment_type            0.0
payment_installments    0.0
payment_value           0.0
dtype: float64

## Orders

In [17]:
get_data_frame_analysis(df_orders)

First 5 lines

                           order_id                       customer_id order_status order_purchase_timestamp    order_approved_at order_delivered_carrier_date order_delivered_customer_date order_estimated_delivery_date
0  e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d    delivered      2017-10-02 10:56:33  2017-10-02 11:07:15          2017-10-04 19:55:00           2017-10-10 21:25:13           2017-10-18 00:00:00
1  53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef    delivered      2018-07-24 20:41:37  2018-07-26 03:24:27          2018-07-26 14:31:00           2018-08-07 15:27:45           2018-08-13 00:00:00
2  47770eb9100c2d0c44946d9cf07ec65d  41ce2a54c0b03bf3443c3d931a367089    delivered      2018-08-08 08:38:49  2018-08-08 08:55:23          2018-08-08 13:50:00           2018-08-17 18:06:29           2018-09-04 00:00:00
3  949d5b44dbf5de918fe9c16f97b45f8a  f88197465ea7920adcdbec7375364d82    delivered      2017-11-18 19:28:06  2017-11-18 19:45:59          2017-11-22 13:39:59           2017-12-02 00:28:42           2017-12-15 00:00:00
4  ad21c59c0840e6cb83a9ceb5573f8159  8ab97904e6daea8866dbdbc4fb7aad2c    delivered      2018-02-13 21:18:39  2018-02-13 22:20:29          2018-02-14 19:46:34           2018-02-16 18:17:02           2018-02-26 00:00:00

Last 5 lines

                               order_id                       customer_id order_status order_purchase_timestamp    order_approved_at order_delivered_carrier_date order_delivered_customer_date order_estimated_delivery_date
99436  9c5dedf39a927c1b2549525ed64a053c  39bd1228ee8140590ac3aca26f2dfe00    delivered      2017-03-09 09:54:05  2017-03-09 09:54:05          2017-03-10 11:18:03           2017-03-17 15:08:01           2017-03-28 00:00:00
99437  63943bddc261676b46f01ca7ac2f7bd8  1fca14ff2861355f6e5f14306ff977a7    delivered      2018-02-06 12:58:58  2018-02-06 13:10:37          2018-02-07 23:22:42           2018-02-28 17:37:56           2018-03-02 00:00:00
99438  83c1379a015df1e13d02aae0204711ab  1aa71eb042121263aafbe80c1b562c9c    delivered      2017-08-27 14:46:43  2017-08-27 15:04:16          2017-08-28 20:52:26           2017-09-21 11:24:17           2017-09-27 00:00:00
99439  11c177c8e97725db2631073c19f07b62  b331b74b18dc79bcdf6532d51e1637c1    delivered      2018-01-08 21:28:27  2018-01-08 21:36:21          2018-01-12 15:35:03           2018-01-25 23:32:54           2018-02-15 00:00:00
99440  66dea50a8b16d9b4dee7af250b4be1a5  edb027a75a1449115f6b43211ae02a24    delivered      2018-03-08 20:57:30  2018-03-09 11:20:28          2018-03-09 22:11:59           2018-03-16 13:08:30           2018-04-03 00:00:00

Types

order_id                         object
customer_id                      object
order_status                     object
order_purchase_timestamp         object
order_approved_at                object
order_delivered_carrier_date     object
order_delivered_customer_date    object
order_estimated_delivery_date    object
dtype: object

Shape

(99441, 8)

Number of uniques

order_id                         99441
customer_id                      99441
order_status                         8
order_purchase_timestamp         98875
order_approved_at                90733
order_delivered_carrier_date     81018
order_delivered_customer_date    95664
order_estimated_delivery_date      459
dtype: int64

Percentage of NAs

order_id                         0.000000
customer_id                      0.000000
order_status                     0.000000
order_purchase_timestamp         0.000000
order_approved_at                0.001609
order_delivered_carrier_date     0.017930
order_delivered_customer_date    0.029817
order_estimated_delivery_date    0.000000
dtype: float64

Number of NAs

order_id                         0.000000
customer_id                      0.000000
order_status                     0.000000
order_purchase_timestamp         0.000000
order_approved_at                0.001609
order_delivered_carrier_date     0.017930
order_delivered_customer_date    0.029817
order_estimated_delivery_date    0.000000
dtype: float64

In [18]:
df_orders['order_purchase_timestamp'] = pd.to_datetime(df_orders['order_purchase_timestamp'], format='%Y-%m-%d %H:%M:%S')
df_orders['order_approved_at'] = pd.to_datetime(df_orders['order_approved_at'], format='%Y-%m-%d %H:%M:%S')
df_orders['order_delivered_carrier_date'] = pd.to_datetime(df_orders['order_delivered_carrier_date'], format='%Y-%m-%d %H:%M:%S')
df_orders['order_delivered_customer_date'] = pd.to_datetime(df_orders['order_delivered_customer_date'], format='%Y-%m-%d %H:%M:%S')
df_orders['order_estimated_delivery_date'] = pd.to_datetime(df_orders['order_estimated_delivery_date'], format='%Y-%m-%d %H:%M:%S')

## Products

In [19]:
get_data_frame_analysis(df_products)

First 5 lines

                         product_id  product_category_name  product_name_lenght  product_description_lenght  product_photos_qty  product_weight_g  product_length_cm  product_height_cm  product_width_cm
0  1e9e8ef04dbcff4541ed26657ea517e5             perfumaria                 40.0                       287.0                 1.0             225.0               16.0               10.0              14.0
1  3aa071139cb16b67ca9e5dea641aaa2f                  artes                 44.0                       276.0                 1.0            1000.0               30.0               18.0              20.0
2  96bd76ec8810374ed1b65e291975717f          esporte_lazer                 46.0                       250.0                 1.0             154.0               18.0                9.0              15.0
3  cef67bcfe19066a932b7673e239eb23d                  bebes                 27.0                       261.0                 1.0             371.0               26.0                4.0              26.0
4  9dc1a7de274444849c219cff195d0b71  utilidades_domesticas                 37.0                       402.0                 4.0             625.0               20.0               17.0              13.0

Last 5 lines

                             product_id              product_category_name  product_name_lenght  product_description_lenght  product_photos_qty  product_weight_g  product_length_cm  product_height_cm  product_width_cm
32946  a0b7d5a992ccda646f2d34e418fff5a0                   moveis_decoracao                 45.0                        67.0                 2.0           12300.0               40.0               40.0              40.0
32947  bf4538d88321d0fd4412a93c974510e6  construcao_ferramentas_iluminacao                 41.0                       971.0                 1.0            1700.0               16.0               19.0              16.0
32948  9a7c6041fa9592d9d9ef6cfe62a71f8c                    cama_mesa_banho                 50.0                       799.0                 1.0            1400.0               27.0                7.0              27.0
32949  83808703fc0706a22e264b9d75f04a2e             informatica_acessorios                 60.0                       156.0                 2.0             700.0               31.0               13.0              20.0
32950  106392145fca363410d287a815be6de4                    cama_mesa_banho                 58.0                       309.0                 1.0            2083.0               12.0                2.0               7.0

Types

product_id                     object
product_category_name          object
product_name_lenght           float64
product_description_lenght    float64
product_photos_qty            float64
product_weight_g              float64
product_length_cm             float64
product_height_cm             float64
product_width_cm              float64
dtype: object

Shape

(32951, 9)

Number of uniques

product_id                    32951
product_category_name            73
product_name_lenght              66
product_description_lenght     2960
product_photos_qty               19
product_weight_g               2204
product_length_cm                99
product_height_cm               102
product_width_cm                 95
dtype: int64

Percentage of NAs

product_id                    0.000000
product_category_name         0.018512
product_name_lenght           0.018512
product_description_lenght    0.018512
product_photos_qty            0.018512
product_weight_g              0.000061
product_length_cm             0.000061
product_height_cm             0.000061
product_width_cm              0.000061
dtype: float64

Number of NAs

product_id                    0.000000
product_category_name         0.018512
product_name_lenght           0.018512
product_description_lenght    0.018512
product_photos_qty            0.018512
product_weight_g              0.000061
product_length_cm             0.000061
product_height_cm             0.000061
product_width_cm              0.000061
dtype: float64

## Sellers

In [20]:
get_data_frame_analysis(df_sellers)

First 5 lines

                          seller_id  seller_zip_code_prefix        seller_city seller_state
0  3442f8959a84dea7ee197c632cb2df15                   13023           campinas           SP
1  d1b65fc7debc3361ea86b5f14c68d2e2                   13844         mogi guacu           SP
2  ce3ad9de960102d0677a81f5d0bb7b2d                   20031     rio de janeiro           RJ
3  c0f3eea2e14555b6faeea3dd58c1b1c3                    4195          sao paulo           SP
4  51a04a8a6bdcb23deccc82b0b80742cf                   12914  braganca paulista           SP

Last 5 lines

                             seller_id  seller_zip_code_prefix seller_city seller_state
3090  98dddbc4601dd4443ca174359b237166                   87111     sarandi           PR
3091  f8201cab383e484733266d1906e2fdfa                   88137     palhoca           SC
3092  74871d19219c7d518d0090283e03c137                    4650   sao paulo           SP
3093  e603cf3fec55f8697c9059638d6c8eb5                   96080     pelotas           RS
3094  9e25199f6ef7e7c347120ff175652c3b                   12051     taubate           SP

Types

seller_id                 object
seller_zip_code_prefix     int64
seller_city               object
seller_state              object
dtype: object

Shape

(3095, 4)

Number of uniques

seller_id                 3095
seller_zip_code_prefix    2246
seller_city                611
seller_state                23
dtype: int64

Percentage of NAs

seller_id                 0.0
seller_zip_code_prefix    0.0
seller_city               0.0
seller_state              0.0
dtype: float64

Number of NAs

seller_id                 0.0
seller_zip_code_prefix    0.0
seller_city               0.0
seller_state              0.0
dtype: float64

In [21]:
df_sellers['seller_zip_code_prefix'] = df_sellers['seller_zip_code_prefix'].astype(int).astype(str)

# Merging the Databases

## Customer's Order

In [22]:
df_orders.shape

(99441, 8)

In [23]:
df_customers_order = df_orders.merge(df_customers, how='left', on='customer_id')
df_customers_order = df_customers_order.merge(
    df_geolocation.drop_duplicates(subset='geolocation_zip_code_prefix'), # there's some duplicated zip code 
    how='left', 
    left_on='customer_zip_code_prefix', 
    right_on='geolocation_zip_code_prefix')

df_customers_order.head()

                           order_id                       customer_id order_status order_purchase_timestamp   order_approved_at order_delivered_carrier_date order_delivered_customer_date order_estimated_delivery_date                customer_unique_id customer_zip_code_prefix            customer_city customer_state geolocation_zip_code_prefix  geolocation_lat  geolocation_lng         geolocation_city geolocation_state
0  e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d    delivered      2017-10-02 10:56:33 2017-10-02 11:07:15          2017-10-04 19:55:00           2017-10-10 21:25:13                    2017-10-18  7c396fd4830fd04220f754e42b4e5bff                     3149                sao paulo             SP                        3149       -23.574809       -46.587471                sao paulo                SP
1  53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef    delivered      2018-07-24 20:41:37 2018-07-26 03:24:27          2018-07-26 14:31:00           2018-08-07 15:27:45                    2018-08-13  af07308b275d755c9edb36a90c618231                    47813                barreiras             BA                       47813       -12.169860       -44.988369                barreiras                BA
2  47770eb9100c2d0c44946d9cf07ec65d  41ce2a54c0b03bf3443c3d931a367089    delivered      2018-08-08 08:38:49 2018-08-08 08:55:23          2018-08-08 13:50:00           2018-08-17 18:06:29                    2018-09-04  3a653a41f6f9fc3d2a113cf8398680e8                    75265               vianopolis             GO                       75265       -16.746337       -48.514624               vianopolis                GO
3  949d5b44dbf5de918fe9c16f97b45f8a  f88197465ea7920adcdbec7375364d82    delivered      2017-11-18 19:28:06 2017-11-18 19:45:59          2017-11-22 13:39:59           2017-12-02 00:28:42                    2017-12-15  7c142cf63193a1473d2e66489a9ae977                    59296  sao goncalo do amarante             RN                       59296        -5.767733       -35.275467  sao goncalo do amarante                RN
4  ad21c59c0840e6cb83a9ceb5573f8159  8ab97904e6daea8866dbdbc4fb7aad2c    delivered      2018-02-13 21:18:39 2018-02-13 22:20:29          2018-02-14 19:46:34           2018-02-16 18:17:02                    2018-02-26  72632f0f9dd73dfee390c9b22eb56dd6                     9195              santo andre             SP                        9195       -23.675037       -46.524784              santo andre                SP

In [24]:
df_customers_order.rename(
    columns={
        'geolocation_lat': 'customer_lat',
        'geolocation_lng': 'customer_lng'}, inplace=True)

df_customers_order.drop(columns=['geolocation_zip_code_prefix', 'geolocation_city', 'geolocation_state'], inplace=True)

In [25]:
df_customers_order.head()

                           order_id                       customer_id order_status order_purchase_timestamp   order_approved_at order_delivered_carrier_date order_delivered_customer_date order_estimated_delivery_date                customer_unique_id customer_zip_code_prefix            customer_city customer_state  customer_lat  customer_lng
0  e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d    delivered      2017-10-02 10:56:33 2017-10-02 11:07:15          2017-10-04 19:55:00           2017-10-10 21:25:13                    2017-10-18  7c396fd4830fd04220f754e42b4e5bff                     3149                sao paulo             SP    -23.574809    -46.587471
1  53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef    delivered      2018-07-24 20:41:37 2018-07-26 03:24:27          2018-07-26 14:31:00           2018-08-07 15:27:45                    2018-08-13  af07308b275d755c9edb36a90c618231                    47813                barreiras             BA    -12.169860    -44.988369
2  47770eb9100c2d0c44946d9cf07ec65d  41ce2a54c0b03bf3443c3d931a367089    delivered      2018-08-08 08:38:49 2018-08-08 08:55:23          2018-08-08 13:50:00           2018-08-17 18:06:29                    2018-09-04  3a653a41f6f9fc3d2a113cf8398680e8                    75265               vianopolis             GO    -16.746337    -48.514624
3  949d5b44dbf5de918fe9c16f97b45f8a  f88197465ea7920adcdbec7375364d82    delivered      2017-11-18 19:28:06 2017-11-18 19:45:59          2017-11-22 13:39:59           2017-12-02 00:28:42                    2017-12-15  7c142cf63193a1473d2e66489a9ae977                    59296  sao goncalo do amarante             RN     -5.767733    -35.275467
4  ad21c59c0840e6cb83a9ceb5573f8159  8ab97904e6daea8866dbdbc4fb7aad2c    delivered      2018-02-13 21:18:39 2018-02-13 22:20:29          2018-02-14 19:46:34           2018-02-16 18:17:02                    2018-02-26  72632f0f9dd73dfee390c9b22eb56dd6                     9195              santo andre             SP    -23.675037    -46.524784

## Distances of Customers and Sellers

In [26]:
df_customer_geolocation = df_customers_order.loc[:, ['order_id', 'customer_id', 'customer_lat', 'customer_lng']]

df_customer_geolocation.head()

                           order_id                       customer_id  customer_lat  customer_lng
0  e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d    -23.574809    -46.587471
1  53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef    -12.169860    -44.988369
2  47770eb9100c2d0c44946d9cf07ec65d  41ce2a54c0b03bf3443c3d931a367089    -16.746337    -48.514624
3  949d5b44dbf5de918fe9c16f97b45f8a  f88197465ea7920adcdbec7375364d82     -5.767733    -35.275467
4  ad21c59c0840e6cb83a9ceb5573f8159  8ab97904e6daea8866dbdbc4fb7aad2c    -23.675037    -46.524784

In [27]:
df_order_seller_id = df_items.loc[:, ['order_id', 'seller_id']]
df_order_seller_id.head()

                           order_id                         seller_id
0  00010242fe8c5a6d1ba2dd792cb16214  48436dade18ac8b2bce089ec2a041202
1  00018f77f2f0320c557190d7a144bdd3  dd7ddc04e1b6c2c614352b383efe2d36
2  000229ec398224ef6ca0657da4fc703e  5b51032eddd242adc84c38acab88f23d
3  00024acbcdf0a6daa1e931b038114c75  9d7a1d34a5052409006425275ba1c2b4
4  00042b26cf59d7ce69dfabb4e55b4fd9  df560393f3a51e74553ab94004ba5c87

In [28]:
aux = df_geolocation.drop_duplicates(
    subset='geolocation_zip_code_prefix').loc[:, [
    'geolocation_zip_code_prefix', 'geolocation_city',	'geolocation_state', 'geolocation_lat', 'geolocation_lng']]

df_sellers_geolocation = df_sellers.loc[:, ['seller_id', 'seller_zip_code_prefix']].merge(
    aux, 
    left_on='seller_zip_code_prefix', 
    right_on='geolocation_zip_code_prefix', 
    how='left').drop(columns=['geolocation_zip_code_prefix']).rename(columns={'geolocation_lat': 'seller_lat', 'geolocation_lng': 'seller_lng'})

df_sellers_geolocation.rename(columns={'geolocation_city': 'seller_geolocation_city', 'geolocation_state': 'seller_geolocation_state'}, inplace=True)

df_sellers_geolocation.head()

                          seller_id seller_zip_code_prefix seller_geolocation_city seller_geolocation_state  seller_lat  seller_lng
0  3442f8959a84dea7ee197c632cb2df15                  13023                campinas                       SP  -22.898536  -47.063125
1  d1b65fc7debc3361ea86b5f14c68d2e2                  13844              mogi-guacu                       SP  -22.382941  -46.946641
2  ce3ad9de960102d0677a81f5d0bb7b2d                  20031          rio de janeiro                       RJ  -22.910641  -43.176510
3  c0f3eea2e14555b6faeea3dd58c1b1c3                   4195               sao paulo                       SP  -23.657250  -46.610759
4  51a04a8a6bdcb23deccc82b0b80742cf                  12914       bragana paulista                       SP  -22.971648  -46.533618

In [29]:
df_distances = df_customer_geolocation.merge(df_order_seller_id, on='order_id', how='left')
df_distances = df_distances.merge(df_sellers_geolocation, on='seller_id', how='left')
df_distances = df_distances.loc[:, ['order_id', 'seller_geolocation_city',	'seller_geolocation_state', 'customer_lat', 'customer_lng', 'seller_lat', 'seller_lng']]

In [30]:
df_distances.shape

(113425, 7)

In [31]:
df_distances.head()

                           order_id seller_geolocation_city seller_geolocation_state  customer_lat  customer_lng  seller_lat  seller_lng
0  e481f51cbdc54678b7cc49136f2d6af7                    maua                       SP    -23.574809    -46.587471  -23.680114  -46.452454
1  53cdb2fc8bc7dce0b6741e2150273451          belo horizonte                       MG    -12.169860    -44.988369  -19.810119  -43.984727
2  47770eb9100c2d0c44946d9cf07ec65d                 guariba                       SP    -16.746337    -48.514624  -21.362358  -48.232976
3  949d5b44dbf5de918fe9c16f97b45f8a          belo horizonte                       MG     -5.767733    -35.275467  -19.840168  -43.923299
4  ad21c59c0840e6cb83a9ceb5573f8159         mogi das cruzes                       SP    -23.675037    -46.524784  -23.551707  -46.260979

In [32]:
df_distances['distance_customer_seller'] = df_distances.apply(
    lambda i: get_distance_in_km(i['customer_lat'], i['customer_lng'], i['seller_lat'], i['seller_lng']), axis=1)

In [33]:
df_distances.isna().mean()

order_id                    0.000000
seller_geolocation_city     0.009063
seller_geolocation_state    0.009063
customer_lat                0.002698
customer_lng                0.002698
seller_lat                  0.009063
seller_lng                  0.009063
distance_customer_seller    0.011717
dtype: float64

In [34]:
df_distances.head()

                           order_id seller_geolocation_city seller_geolocation_state  customer_lat  customer_lng  seller_lat  seller_lng  distance_customer_seller
0  e481f51cbdc54678b7cc49136f2d6af7                    maua                       SP    -23.574809    -46.587471  -23.680114  -46.452454                 18.051106
1  53cdb2fc8bc7dce0b6741e2150273451          belo horizonte                       MG    -12.169860    -44.988369  -19.810119  -43.984727                852.256379
2  47770eb9100c2d0c44946d9cf07ec65d                 guariba                       SP    -16.746337    -48.514624  -21.362358  -48.232976                511.820721
3  949d5b44dbf5de918fe9c16f97b45f8a          belo horizonte                       MG     -5.767733    -35.275467  -19.840168  -43.923299               1816.652139
4  ad21c59c0840e6cb83a9ceb5573f8159         mogi das cruzes                       SP    -23.675037    -46.524784  -23.551707  -46.260979                 30.189028

In [35]:
list_func_num_var = [
    'count', 
    'min', 
    'max', 
    'mean', 
    'median',
    [
        'q25', lambda i: np.quantile(i, 0.25)
    ],
    [
        'q75', lambda i: np.quantile(i, 0.75)
    ],
    [
        'range', lambda i: np.max(i) - np.min(i)
    ]
]

In [36]:
list_func_cat_var = [
    'count', 
    'nunique',
    'size',
    [
        'mode', get_categorical_mode
    ]
]

In [37]:
df_distances = df_distances.groupby('order_id').agg(
    {
        'seller_geolocation_city': list_func_cat_var,
        'seller_geolocation_state': list_func_cat_var,
        'distance_customer_seller': list_func_num_var        
    }
)

df_distances = turn_agg_into_dataframe(df_distances)

In [38]:
df_distances.head()

                           order_id  seller_geolocation_city_count  seller_geolocation_city_nunique  seller_geolocation_city_size seller_geolocation_city_mode  seller_geolocation_state_count  seller_geolocation_state_nunique  seller_geolocation_state_size seller_geolocation_state_mode  distance_customer_seller_count  distance_customer_seller_min  distance_customer_seller_max  distance_customer_seller_mean  distance_customer_seller_median  distance_customer_seller_q25  distance_customer_seller_q75  distance_customer_seller_range
0  00010242fe8c5a6d1ba2dd792cb16214                              1                                1                             1                volta redonda                               1                                 1                              1                            RJ                               1                    301.356848                    301.356848                     301.356848                       301.356848                    301.356848                    301.356848                             0.0
1  00018f77f2f0320c557190d7a144bdd3                              1                                1                             1                    sao paulo                               1                                 1                              1                            SP                               1                    588.848102                    588.848102                     588.848102                       588.848102                    588.848102                    588.848102                             0.0
2  000229ec398224ef6ca0657da4fc703e                              1                                1                             1                borda da mata                               1                                 1                              1                            MG                               1                    311.645874                    311.645874                     311.645874                       311.645874                    311.645874                    311.645874                             0.0
3  00024acbcdf0a6daa1e931b038114c75                              1                                1                             1                       franca                               1                                 1                              1                            SP                               1                    300.834561                    300.834561                     300.834561                       300.834561                    300.834561                    300.834561                             0.0
4  00042b26cf59d7ce69dfabb4e55b4fd9                              1                                1                             1                       loanda                               1                                 1                              1                            PR                               1                    647.268094                    647.268094                     647.268094                       647.268094                    647.268094                    647.268094                             0.0

In [39]:
df_distances.shape

(99441, 17)

## Payments by Order

In [40]:
df_payments_by_order = df_payments.groupby('order_id').agg(
    {
        'payment_sequential': list_func_num_var,
        'payment_type': list_func_cat_var,
        'payment_installments': list_func_num_var,
        'payment_value': list_func_num_var
    }
)

df_payments_by_order = turn_agg_into_dataframe(df_payments_by_order)

df_payments_by_order.head()

                           order_id  payment_sequential_count  payment_sequential_min  payment_sequential_max  payment_sequential_mean  payment_sequential_median  payment_sequential_q25  payment_sequential_q75  payment_sequential_range  payment_type_count  payment_type_nunique  payment_type_size payment_type_mode  payment_installments_count  payment_installments_min  payment_installments_max  payment_installments_mean  payment_installments_median  payment_installments_q25  payment_installments_q75  payment_installments_range  payment_value_count  payment_value_min  payment_value_max  payment_value_mean  payment_value_median  payment_value_q25  payment_value_q75  payment_value_range
0  00010242fe8c5a6d1ba2dd792cb16214                         1                       1                       1                      1.0                        1.0                     1.0                     1.0                         0                   1                     1                  1       credit_card                           1                         2                         2                        2.0                          2.0                       2.0                       2.0                           0                    1              72.19              72.19               72.19                 72.19              72.19              72.19                  0.0
1  00018f77f2f0320c557190d7a144bdd3                         1                       1                       1                      1.0                        1.0                     1.0                     1.0                         0                   1                     1                  1       credit_card                           1                         3                         3                        3.0                          3.0                       3.0                       3.0                           0                    1             259.83             259.83              259.83                259.83             259.83             259.83                  0.0
2  000229ec398224ef6ca0657da4fc703e                         1                       1                       1                      1.0                        1.0                     1.0                     1.0                         0                   1                     1                  1       credit_card                           1                         5                         5                        5.0                          5.0                       5.0                       5.0                           0                    1             216.87             216.87              216.87                216.87             216.87             216.87                  0.0
3  00024acbcdf0a6daa1e931b038114c75                         1                       1                       1                      1.0                        1.0                     1.0                     1.0                         0                   1                     1                  1       credit_card                           1                         2                         2                        2.0                          2.0                       2.0                       2.0                           0                    1              25.78              25.78               25.78                 25.78              25.78              25.78                  0.0
4  00042b26cf59d7ce69dfabb4e55b4fd9                         1                       1                       1                      1.0                        1.0                     1.0                     1.0                         0                   1                     1                  1       credit_card                           1                         3                         3                        3.0                          3.0                       3.0                       3.0                           0                    1             218.04             218.04              218.04                218.04             218.04             218.04                  0.0

In [41]:
df_payments_by_order.shape

(99440, 29)

## Items and Products by Order

In [42]:
list_func_date_var = [
    'max',
    'min'
]

In [43]:
df_items.head()

                           order_id  order_item_id                        product_id                         seller_id shipping_limit_date   price  freight_value
0  00010242fe8c5a6d1ba2dd792cb16214              1  4244733e06e7ecb4970a6e2683c13e61  48436dade18ac8b2bce089ec2a041202 2017-09-19 09:45:35   58.90          13.29
1  00018f77f2f0320c557190d7a144bdd3              1  e5f2d52b802189ee658865ca93d83a8f  dd7ddc04e1b6c2c614352b383efe2d36 2017-05-03 11:05:13  239.90          19.93
2  000229ec398224ef6ca0657da4fc703e              1  c777355d18b72b67abbeef9df44fd0fd  5b51032eddd242adc84c38acab88f23d 2018-01-18 14:48:30  199.00          17.87
3  00024acbcdf0a6daa1e931b038114c75              1  7634da152a4610f1595efa32f14722fc  9d7a1d34a5052409006425275ba1c2b4 2018-08-15 10:10:18   12.99          12.79
4  00042b26cf59d7ce69dfabb4e55b4fd9              1  ac6c3623068f30de03045865e4e10089  df560393f3a51e74553ab94004ba5c87 2017-02-13 13:57:51  199.90          18.14

In [44]:
df_items.shape

(112650, 7)

In [45]:
df_products_items = df_items.merge(
    df_products,
    on='product_id',
    how='left'
)

In [46]:
df_products_items.shape

(112650, 15)

In [47]:
df_products_items.head()

                           order_id  order_item_id                        product_id                         seller_id shipping_limit_date   price  freight_value product_category_name  product_name_lenght  product_description_lenght  product_photos_qty  product_weight_g  product_length_cm  product_height_cm  product_width_cm
0  00010242fe8c5a6d1ba2dd792cb16214              1  4244733e06e7ecb4970a6e2683c13e61  48436dade18ac8b2bce089ec2a041202 2017-09-19 09:45:35   58.90          13.29            cool_stuff                 58.0                       598.0                 4.0             650.0               28.0                9.0              14.0
1  00018f77f2f0320c557190d7a144bdd3              1  e5f2d52b802189ee658865ca93d83a8f  dd7ddc04e1b6c2c614352b383efe2d36 2017-05-03 11:05:13  239.90          19.93              pet_shop                 56.0                       239.0                 2.0           30000.0               50.0               30.0              40.0
2  000229ec398224ef6ca0657da4fc703e              1  c777355d18b72b67abbeef9df44fd0fd  5b51032eddd242adc84c38acab88f23d 2018-01-18 14:48:30  199.00          17.87      moveis_decoracao                 59.0                       695.0                 2.0            3050.0               33.0               13.0              33.0
3  00024acbcdf0a6daa1e931b038114c75              1  7634da152a4610f1595efa32f14722fc  9d7a1d34a5052409006425275ba1c2b4 2018-08-15 10:10:18   12.99          12.79            perfumaria                 42.0                       480.0                 1.0             200.0               16.0               10.0              15.0
4  00042b26cf59d7ce69dfabb4e55b4fd9              1  ac6c3623068f30de03045865e4e10089  df560393f3a51e74553ab94004ba5c87 2017-02-13 13:57:51  199.90          18.14    ferramentas_jardim                 59.0                       409.0                 1.0            3750.0               35.0               40.0              30.0

In [48]:
df_products_items_by_order = df_products_items.groupby('order_id').agg(
    {
        'product_id': ['count'],
        'seller_id': ['count'],
        'shipping_limit_date': list_func_date_var,
        'price': list_func_num_var,
        'freight_value': list_func_num_var,
        'product_category_name': list_func_cat_var,
        'product_name_lenght': list_func_num_var,
        'product_description_lenght': list_func_num_var,
        'product_photos_qty': list_func_num_var,
        'product_weight_g': list_func_num_var,
        'product_length_cm': list_func_num_var,
        'product_height_cm': list_func_num_var,
        'product_width_cm': list_func_num_var,
    }
)

df_products_items_by_order = turn_agg_into_dataframe(df_products_items_by_order)

df_products_items_by_order.head()

                           order_id  product_id_count  seller_id_count shipping_limit_date_max shipping_limit_date_min  price_count  price_min  price_max  price_mean  price_median  price_q25  price_q75  price_range  freight_value_count  freight_value_min  freight_value_max  freight_value_mean  freight_value_median  freight_value_q25  freight_value_q75  freight_value_range  product_category_name_count  product_category_name_nunique  product_category_name_size product_category_name_mode  product_name_lenght_count  product_name_lenght_min  product_name_lenght_max  product_name_lenght_mean  product_name_lenght_median  product_name_lenght_q25  product_name_lenght_q75  product_name_lenght_range  product_description_lenght_count  product_description_lenght_min  product_description_lenght_max  product_description_lenght_mean  product_description_lenght_median  product_description_lenght_q25  product_description_lenght_q75  product_description_lenght_range  product_photos_qty_count  product_photos_qty_min  product_photos_qty_max  product_photos_qty_mean  product_photos_qty_median  product_photos_qty_q25  product_photos_qty_q75  product_photos_qty_range  product_weight_g_count  product_weight_g_min  product_weight_g_max  product_weight_g_mean  product_weight_g_median  product_weight_g_q25  product_weight_g_q75  product_weight_g_range  product_length_cm_count  product_length_cm_min  product_length_cm_max  product_length_cm_mean  product_length_cm_median  product_length_cm_q25  product_length_cm_q75  product_length_cm_range  product_height_cm_count  product_height_cm_min  product_height_cm_max  product_height_cm_mean  product_height_cm_median  product_height_cm_q25  product_height_cm_q75  product_height_cm_range  product_width_cm_count  product_width_cm_min  product_width_cm_max  product_width_cm_mean  product_width_cm_median  product_width_cm_q25  product_width_cm_q75  product_width_cm_range
0  00010242fe8c5a6d1ba2dd792cb16214                 1                1     2017-09-19 09:45:35     2017-09-19 09:45:35            1      58.90      58.90       58.90         58.90      58.90      58.90          0.0                    1              13.29              13.29               13.29                 13.29              13.29              13.29                  0.0                            1                              1                           1                 cool_stuff                          1                     58.0                     58.0                      58.0                        58.0                     58.0                     58.0                        0.0                                 1                           598.0                           598.0                            598.0                              598.0                           598.0                           598.0                               0.0                         1                     4.0                     4.0                      4.0                        4.0                     4.0                     4.0                       0.0                       1                 650.0                 650.0                  650.0                    650.0                 650.0                 650.0                     0.0                        1                   28.0                   28.0                    28.0                      28.0                   28.0                   28.0                      0.0                        1                    9.0                    9.0                     9.0                       9.0                    9.0                    9.0                      0.0                       1                  14.0                  14.0                   14.0                     14.0                  14.0                  14.0                     0.0
1  00018f77f2f0320c557190d7a144bdd3                 1                1     2017-05-03 11:05:13     2017-05-03 11:05:13            1     239.90     239.90      239.90        239.90     239.90     239.90          0.0                    1              19.93              19.93               19.93                 19.93              19.93              19.93                  0.0                            1                              1                           1                   pet_shop                          1                     56.0                     56.0                      56.0                        56.0                     56.0                     56.0                        0.0                                 1                           239.0                           239.0                            239.0                              239.0                           239.0                           239.0                               0.0                         1                     2.0                     2.0                      2.0                        2.0                     2.0                     2.0                       0.0                       1               30000.0               30000.0                30000.0                  30000.0               30000.0               30000.0                     0.0                        1                   50.0                   50.0                    50.0                      50.0                   50.0                   50.0                      0.0                        1                   30.0                   30.0                    30.0                      30.0                   30.0                   30.0                      0.0                       1                  40.0                  40.0                   40.0                     40.0                  40.0                  40.0                     0.0
2  000229ec398224ef6ca0657da4fc703e                 1                1     2018-01-18 14:48:30     2018-01-18 14:48:30            1     199.00     199.00      199.00        199.00     199.00     199.00          0.0                    1              17.87              17.87               17.87                 17.87              17.87              17.87                  0.0                            1                              1                           1           moveis_decoracao                          1                     59.0                     59.0                      59.0                        59.0                     59.0                     59.0                        0.0                                 1                           695.0                           695.0                            695.0                              695.0                           695.0                           695.0                               0.0                         1                     2.0                     2.0                      2.0                        2.0                     2.0                     2.0                       0.0                       1                3050.0                3050.0                 3050.0                   3050.0                3050.0                3050.0                     0.0                        1                   33.0                   33.0                    33.0                      33.0                   33.0                   33.0                      0.0                        1                   13.0                   13.0                    13.0                      13.0                   13.0                   13.0                      0.0                       1                  33.0                  33.0                   33.0                     33.0                  33.0                  33.0                     0.0
3  00024acbcdf0a6daa1e931b038114c75                 1                1     2018-08-15 10:10:18     2018-08-15 10:10:18            1      12.99      12.99       12.99         12.99      12.99      12.99          0.0                    1              12.79              12.79               12.79                 12.79              12.79              12.79                  0.0                            1                              1                           1                 perfumaria                          1                     42.0                     42.0                      42.0                        42.0                     42.0                     42.0                        0.0                                 1                           480.0                           480.0                            480.0                              480.0                           480.0                           480.0                               0.0                         1                     1.0                     1.0                      1.0                        1.0                     1.0                     1.0                       0.0                       1                 200.0                 200.0                  200.0                    200.0                 200.0                 200.0                     0.0                        1                   16.0                   16.0                    16.0                      16.0                   16.0                   16.0                      0.0                        1                   10.0                   10.0                    10.0                      10.0                   10.0                   10.0                      0.0                       1                  15.0                  15.0                   15.0                     15.0                  15.0                  15.0                     0.0
4  00042b26cf59d7ce69dfabb4e55b4fd9                 1                1     2017-02-13 13:57:51     2017-02-13 13:57:51            1     199.90     199.90      199.90        199.90     199.90     199.90          0.0                    1              18.14              18.14               18.14                 18.14              18.14              18.14                  0.0                            1                              1                           1         ferramentas_jardim                          1                     59.0                     59.0                      59.0                        59.0                     59.0                     59.0                        0.0                                 1                           409.0                           409.0                            409.0                              409.0                           409.0                           409.0                               0.0                         1                     1.0                     1.0                      1.0                        1.0                     1.0                     1.0                       0.0                       1                3750.0                3750.0                 3750.0                   3750.0                3750.0                3750.0                     0.0                        1                   35.0                   35.0                    35.0                      35.0                   35.0                   35.0                      0.0                        1                   40.0                   40.0                    40.0                      40.0                   40.0                   40.0                      0.0                       1                  30.0                  30.0                   30.0                     30.0                  30.0                  30.0                     0.0

In [49]:
df_products_items_by_order.shape

(98666, 81)

# Creating the Variable Book

In [50]:
df = df_customers_order.merge(df_distances, on='order_id', how='left')
df = df.merge(df_payments_by_order, on='order_id', how='left')
df = df.merge(df_products_items_by_order, on='order_id', how='left')

In [51]:
df.shape

(99441, 138)

In [52]:
df.head()

                           order_id                       customer_id order_status order_purchase_timestamp   order_approved_at order_delivered_carrier_date order_delivered_customer_date order_estimated_delivery_date                customer_unique_id customer_zip_code_prefix            customer_city customer_state  customer_lat  customer_lng  seller_geolocation_city_count  seller_geolocation_city_nunique  seller_geolocation_city_size seller_geolocation_city_mode  seller_geolocation_state_count  seller_geolocation_state_nunique  seller_geolocation_state_size seller_geolocation_state_mode  distance_customer_seller_count  distance_customer_seller_min  distance_customer_seller_max  distance_customer_seller_mean  distance_customer_seller_median  distance_customer_seller_q25  distance_customer_seller_q75  distance_customer_seller_range  payment_sequential_count  payment_sequential_min  payment_sequential_max  payment_sequential_mean  payment_sequential_median  payment_sequential_q25  payment_sequential_q75  payment_sequential_range  payment_type_count  payment_type_nunique  payment_type_size payment_type_mode  payment_installments_count  payment_installments_min  payment_installments_max  payment_installments_mean  payment_installments_median  payment_installments_q25  payment_installments_q75  payment_installments_range  payment_value_count  payment_value_min  payment_value_max  payment_value_mean  payment_value_median  payment_value_q25  payment_value_q75  payment_value_range  product_id_count  seller_id_count shipping_limit_date_max shipping_limit_date_min  price_count  price_min  price_max  price_mean  price_median  price_q25  price_q75  price_range  freight_value_count  freight_value_min  freight_value_max  freight_value_mean  freight_value_median  freight_value_q25  freight_value_q75  freight_value_range  product_category_name_count  product_category_name_nunique  product_category_name_size product_category_name_mode  product_name_lenght_count  product_name_lenght_min  product_name_lenght_max  product_name_lenght_mean  product_name_lenght_median  product_name_lenght_q25  product_name_lenght_q75  product_name_lenght_range  product_description_lenght_count  product_description_lenght_min  product_description_lenght_max  product_description_lenght_mean  product_description_lenght_median  product_description_lenght_q25  product_description_lenght_q75  product_description_lenght_range  product_photos_qty_count  product_photos_qty_min  product_photos_qty_max  product_photos_qty_mean  product_photos_qty_median  product_photos_qty_q25  product_photos_qty_q75  product_photos_qty_range  product_weight_g_count  product_weight_g_min  product_weight_g_max  product_weight_g_mean  product_weight_g_median  product_weight_g_q25  product_weight_g_q75  product_weight_g_range  product_length_cm_count  product_length_cm_min  product_length_cm_max  product_length_cm_mean  product_length_cm_median  product_length_cm_q25  product_length_cm_q75  product_length_cm_range  product_height_cm_count  product_height_cm_min  product_height_cm_max  product_height_cm_mean  product_height_cm_median  product_height_cm_q25  product_height_cm_q75  product_height_cm_range  product_width_cm_count  product_width_cm_min  product_width_cm_max  product_width_cm_mean  product_width_cm_median  product_width_cm_q25  product_width_cm_q75  product_width_cm_range
0  e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d    delivered      2017-10-02 10:56:33 2017-10-02 11:07:15          2017-10-04 19:55:00           2017-10-10 21:25:13                    2017-10-18  7c396fd4830fd04220f754e42b4e5bff                     3149                sao paulo             SP    -23.574809    -46.587471                              1                                1                             1                         maua                               1                                 1                              1                            SP                               1                     18.051106                     18.051106                      18.051106                        18.051106                     18.051106                     18.051106                             0.0                       3.0                     1.0                     3.0                      2.0                        2.0                     1.5                     2.5                       2.0                 3.0                   2.0                3.0           voucher                         3.0                       1.0                       1.0                        1.0                          1.0                       1.0                       1.0                         0.0                  3.0               2.00              18.59           12.903333                 18.12              10.06             18.355                16.59               1.0              1.0     2017-10-06 11:07:15     2017-10-06 11:07:15          1.0      29.99      29.99       29.99         29.99      29.99      29.99          0.0                  1.0               8.72               8.72                8.72                  8.72               8.72               8.72                  0.0                          1.0                            1.0                         1.0      utilidades_domesticas                        1.0                     40.0                     40.0                      40.0                        40.0                     40.0                     40.0                        0.0                               1.0                           268.0                           268.0                            268.0                              268.0                           268.0                           268.0                               0.0                       1.0                     4.0                     4.0                      4.0                        4.0                     4.0                     4.0                       0.0                     1.0                 500.0                 500.0                  500.0                    500.0                 500.0                 500.0                     0.0                      1.0                   19.0                   19.0                    19.0                      19.0                   19.0                   19.0                      0.0                      1.0                    8.0                    8.0                     8.0                       8.0                    8.0                    8.0                      0.0                     1.0                  13.0                  13.0                   13.0                     13.0                  13.0                  13.0                     0.0
1  53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef    delivered      2018-07-24 20:41:37 2018-07-26 03:24:27          2018-07-26 14:31:00           2018-08-07 15:27:45                    2018-08-13  af07308b275d755c9edb36a90c618231                    47813                barreiras             BA    -12.169860    -44.988369                              1                                1                             1               belo horizonte                               1                                 1                              1                            MG                               1                    852.256379                    852.256379                     852.256379                       852.256379                    852.256379                    852.256379                             0.0                       1.0                     1.0                     1.0                      1.0                        1.0                     1.0                     1.0                       0.0                 1.0                   1.0                1.0            boleto                         1.0                       1.0                       1.0                        1.0                          1.0                       1.0                       1.0                         0.0                  1.0             141.46             141.46          141.460000                141.46             141.46            141.460                 0.00               1.0              1.0     2018-07-30 03:24:27     2018-07-30 03:24:27          1.0     118.70     118.70      118.70        118.70     118.70     118.70          0.0                  1.0              22.76              22.76               22.76                 22.76              22.76              22.76                  0.0                          1.0                            1.0                         1.0                 perfumaria                        1.0                     29.0                     29.0                      29.0                        29.0                     29.0                     29.0                        0.0                               1.0                           178.0                           178.0                            178.0                              178.0                           178.0                           178.0                               0.0                       1.0                     1.0                     1.0                      1.0                        1.0                     1.0                     1.0                       0.0                     1.0                 400.0                 400.0                  400.0                    400.0                 400.0                 400.0                     0.0                      1.0                   19.0                   19.0                    19.0                      19.0                   19.0                   19.0                      0.0                      1.0                   13.0                   13.0                    13.0                      13.0                   13.0                   13.0                      0.0                     1.0                  19.0                  19.0                   19.0                     19.0                  19.0                  19.0                     0.0
2  47770eb9100c2d0c44946d9cf07ec65d  41ce2a54c0b03bf3443c3d931a367089    delivered      2018-08-08 08:38:49 2018-08-08 08:55:23          2018-08-08 13:50:00           2018-08-17 18:06:29                    2018-09-04  3a653a41f6f9fc3d2a113cf8398680e8                    75265               vianopolis             GO    -16.746337    -48.514624                              1                                1                             1                      guariba                               1                                 1                              1                            SP                               1                    511.820721                    511.820721                     511.820721                       511.820721                    511.820721                    511.820721                             0.0                       1.0                     1.0                     1.0                      1.0                        1.0                     1.0                     1.0                       0.0                 1.0                   1.0                1.0       credit_card                         1.0                       3.0                       3.0                        3.0                          3.0                       3.0                       3.0                         0.0                  1.0             179.12             179.12          179.120000                179.12             179.12            179.120                 0.00               1.0              1.0     2018-08-13 08:55:23     2018-08-13 08:55:23          1.0     159.90     159.90      159.90        159.90     159.90     159.90          0.0                  1.0              19.22              19.22               19.22                 19.22              19.22              19.22                  0.0                          1.0                            1.0                         1.0                 automotivo                        1.0                     46.0                     46.0                      46.0                        46.0                     46.0                     46.0                        0.0                               1.0                           232.0                           232.0                            232.0                              232.0                           232.0                           232.0                               0.0                       1.0                     1.0                     1.0                      1.0                        1.0                     1.0                     1.0                       0.0                     1.0                 420.0                 420.0                  420.0                    420.0                 420.0                 420.0                     0.0                      1.0                   24.0                   24.0                    24.0                      24.0                   24.0                   24.0                      0.0                      1.0                   19.0                   19.0                    19.0                      19.0                   19.0                   19.0                      0.0                     1.0                  21.0                  21.0                   21.0                     21.0                  21.0                  21.0                     0.0
3  949d5b44dbf5de918fe9c16f97b45f8a  f88197465ea7920adcdbec7375364d82    delivered      2017-11-18 19:28:06 2017-11-18 19:45:59          2017-11-22 13:39:59           2017-12-02 00:28:42                    2017-12-15  7c142cf63193a1473d2e66489a9ae977                    59296  sao goncalo do amarante             RN     -5.767733    -35.275467                              1                                1                             1               belo horizonte                               1                                 1                              1                            MG                               1                   1816.652139                   1816.652139                    1816.652139                      1816.652139                   1816.652139                   1816.652139                             0.0                       1.0                     1.0                     1.0                      1.0                        1.0                     1.0                     1.0                       0.0                 1.0                   1.0                1.0       credit_card                         1.0                       1.0                       1.0                        1.0                          1.0                       1.0                       1.0                         0.0                  1.0              72.20              72.20           72.200000                 72.20              72.20             72.200                 0.00               1.0              1.0     2017-11-23 19:45:59     2017-11-23 19:45:59          1.0      45.00      45.00       45.00         45.00      45.00      45.00          0.0                  1.0              27.20              27.20               27.20                 27.20              27.20              27.20                  0.0                          1.0                            1.0                         1.0                   pet_shop                        1.0                     59.0                     59.0                      59.0                        59.0                     59.0                     59.0                        0.0                               1.0                           468.0                           468.0                            468.0                              468.0                           468.0                           468.0                               0.0                       1.0                     3.0                     3.0                      3.0                        3.0                     3.0                     3.0                       0.0                     1.0                 450.0                 450.0                  450.0                    450.0                 450.0                 450.0                     0.0                      1.0                   30.0                   30.0                    30.0                      30.0                   30.0                   30.0                      0.0                      1.0                   10.0                   10.0                    10.0                      10.0                   10.0                   10.0                      0.0                     1.0                  20.0                  20.0                   20.0                     20.0                  20.0                  20.0                     0.0

In [53]:
df.isna().mean()

order_id                    0.000000
customer_id                 0.000000
order_status                0.000000
order_purchase_timestamp    0.000000
order_approved_at           0.001609
                              ...
product_width_cm_mean       0.007954
product_width_cm_median     0.007954
product_width_cm_q25        0.007954
product_width_cm_q75        0.007954
product_width_cm_range      0.007954
Length: 138, dtype: float64

## Selecting only Delivered

In [54]:
df = df.loc[df['order_status'] == 'delivered', :]
df = df.drop(columns=['order_status'])

## Creating Variable from Date

In [55]:
df.head()

                           order_id                       customer_id order_purchase_timestamp   order_approved_at order_delivered_carrier_date order_delivered_customer_date order_estimated_delivery_date                customer_unique_id customer_zip_code_prefix            customer_city customer_state  customer_lat  customer_lng  seller_geolocation_city_count  seller_geolocation_city_nunique  seller_geolocation_city_size seller_geolocation_city_mode  seller_geolocation_state_count  seller_geolocation_state_nunique  seller_geolocation_state_size seller_geolocation_state_mode  distance_customer_seller_count  distance_customer_seller_min  distance_customer_seller_max  distance_customer_seller_mean  distance_customer_seller_median  distance_customer_seller_q25  distance_customer_seller_q75  distance_customer_seller_range  payment_sequential_count  payment_sequential_min  payment_sequential_max  payment_sequential_mean  payment_sequential_median  payment_sequential_q25  payment_sequential_q75  payment_sequential_range  payment_type_count  payment_type_nunique  payment_type_size payment_type_mode  payment_installments_count  payment_installments_min  payment_installments_max  payment_installments_mean  payment_installments_median  payment_installments_q25  payment_installments_q75  payment_installments_range  payment_value_count  payment_value_min  payment_value_max  payment_value_mean  payment_value_median  payment_value_q25  payment_value_q75  payment_value_range  product_id_count  seller_id_count shipping_limit_date_max shipping_limit_date_min  price_count  price_min  price_max  price_mean  price_median  price_q25  price_q75  price_range  freight_value_count  freight_value_min  freight_value_max  freight_value_mean  freight_value_median  freight_value_q25  freight_value_q75  freight_value_range  product_category_name_count  product_category_name_nunique  product_category_name_size product_category_name_mode  product_name_lenght_count  product_name_lenght_min  product_name_lenght_max  product_name_lenght_mean  product_name_lenght_median  product_name_lenght_q25  product_name_lenght_q75  product_name_lenght_range  product_description_lenght_count  product_description_lenght_min  product_description_lenght_max  product_description_lenght_mean  product_description_lenght_median  product_description_lenght_q25  product_description_lenght_q75  product_description_lenght_range  product_photos_qty_count  product_photos_qty_min  product_photos_qty_max  product_photos_qty_mean  product_photos_qty_median  product_photos_qty_q25  product_photos_qty_q75  product_photos_qty_range  product_weight_g_count  product_weight_g_min  product_weight_g_max  product_weight_g_mean  product_weight_g_median  product_weight_g_q25  product_weight_g_q75  product_weight_g_range  product_length_cm_count  product_length_cm_min  product_length_cm_max  product_length_cm_mean  product_length_cm_median  product_length_cm_q25  product_length_cm_q75  product_length_cm_range  product_height_cm_count  product_height_cm_min  product_height_cm_max  product_height_cm_mean  product_height_cm_median  product_height_cm_q25  product_height_cm_q75  product_height_cm_range  product_width_cm_count  product_width_cm_min  product_width_cm_max  product_width_cm_mean  product_width_cm_median  product_width_cm_q25  product_width_cm_q75  product_width_cm_range
0  e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d      2017-10-02 10:56:33 2017-10-02 11:07:15          2017-10-04 19:55:00           2017-10-10 21:25:13                    2017-10-18  7c396fd4830fd04220f754e42b4e5bff                     3149                sao paulo             SP    -23.574809    -46.587471                              1                                1                             1                         maua                               1                                 1                              1                            SP                               1                     18.051106                     18.051106                      18.051106                        18.051106                     18.051106                     18.051106                             0.0                       3.0                     1.0                     3.0                      2.0                        2.0                     1.5                     2.5                       2.0                 3.0                   2.0                3.0           voucher                         3.0                       1.0                       1.0                        1.0                          1.0                       1.0                       1.0                         0.0                  3.0               2.00              18.59           12.903333                 18.12              10.06             18.355                16.59               1.0              1.0     2017-10-06 11:07:15     2017-10-06 11:07:15          1.0      29.99      29.99       29.99         29.99      29.99      29.99          0.0                  1.0               8.72               8.72                8.72                  8.72               8.72               8.72                  0.0                          1.0                            1.0                         1.0      utilidades_domesticas                        1.0                     40.0                     40.0                      40.0                        40.0                     40.0                     40.0                        0.0                               1.0                           268.0                           268.0                            268.0                              268.0                           268.0                           268.0                               0.0                       1.0                     4.0                     4.0                      4.0                        4.0                     4.0                     4.0                       0.0                     1.0                 500.0                 500.0                  500.0                    500.0                 500.0                 500.0                     0.0                      1.0                   19.0                   19.0                    19.0                      19.0                   19.0                   19.0                      0.0                      1.0                    8.0                    8.0                     8.0                       8.0                    8.0                    8.0                      0.0                     1.0                  13.0                  13.0                   13.0                     13.0                  13.0                  13.0                     0.0
1  53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef      2018-07-24 20:41:37 2018-07-26 03:24:27          2018-07-26 14:31:00           2018-08-07 15:27:45                    2018-08-13  af07308b275d755c9edb36a90c618231                    47813                barreiras             BA    -12.169860    -44.988369                              1                                1                             1               belo horizonte                               1                                 1                              1                            MG                               1                    852.256379                    852.256379                     852.256379                       852.256379                    852.256379                    852.256379                             0.0                       1.0                     1.0                     1.0                      1.0                        1.0                     1.0                     1.0                       0.0                 1.0                   1.0                1.0            boleto                         1.0                       1.0                       1.0                        1.0                          1.0                       1.0                       1.0                         0.0                  1.0             141.46             141.46          141.460000                141.46             141.46            141.460                 0.00               1.0              1.0     2018-07-30 03:24:27     2018-07-30 03:24:27          1.0     118.70     118.70      118.70        118.70     118.70     118.70          0.0                  1.0              22.76              22.76               22.76                 22.76              22.76              22.76                  0.0                          1.0                            1.0                         1.0                 perfumaria                        1.0                     29.0                     29.0                      29.0                        29.0                     29.0                     29.0                        0.0                               1.0                           178.0                           178.0                            178.0                              178.0                           178.0                           178.0                               0.0                       1.0                     1.0                     1.0                      1.0                        1.0                     1.0                     1.0                       0.0                     1.0                 400.0                 400.0                  400.0                    400.0                 400.0                 400.0                     0.0                      1.0                   19.0                   19.0                    19.0                      19.0                   19.0                   19.0                      0.0                      1.0                   13.0                   13.0                    13.0                      13.0                   13.0                   13.0                      0.0                     1.0                  19.0                  19.0                   19.0                     19.0                  19.0                  19.0                     0.0
2  47770eb9100c2d0c44946d9cf07ec65d  41ce2a54c0b03bf3443c3d931a367089      2018-08-08 08:38:49 2018-08-08 08:55:23          2018-08-08 13:50:00           2018-08-17 18:06:29                    2018-09-04  3a653a41f6f9fc3d2a113cf8398680e8                    75265               vianopolis             GO    -16.746337    -48.514624                              1                                1                             1                      guariba                               1                                 1                              1                            SP                               1                    511.820721                    511.820721                     511.820721                       511.820721                    511.820721                    511.820721                             0.0                       1.0                     1.0                     1.0                      1.0                        1.0                     1.0                     1.0                       0.0                 1.0                   1.0                1.0       credit_card                         1.0                       3.0                       3.0                        3.0                          3.0                       3.0                       3.0                         0.0                  1.0             179.12             179.12          179.120000                179.12             179.12            179.120                 0.00               1.0              1.0     2018-08-13 08:55:23     2018-08-13 08:55:23          1.0     159.90     159.90      159.90        159.90     159.90     159.90          0.0                  1.0              19.22              19.22               19.22                 19.22              19.22              19.22                  0.0                          1.0                            1.0                         1.0                 automotivo                        1.0                     46.0                     46.0                      46.0                        46.0                     46.0                     46.0                        0.0                               1.0                           232.0                           232.0                            232.0                              232.0                           232.0                           232.0                               0.0                       1.0                     1.0                     1.0                      1.0                        1.0                     1.0                     1.0                       0.0                     1.0                 420.0                 420.0                  420.0                    420.0                 420.0                 420.0                     0.0                      1.0                   24.0                   24.0                    24.0                      24.0                   24.0                   24.0                      0.0                      1.0                   19.0                   19.0                    19.0                      19.0                   19.0                   19.0                      0.0                     1.0                  21.0                  21.0                   21.0                     21.0                  21.0                  21.0                     0.0
3  949d5b44dbf5de918fe9c16f97b45f8a  f88197465ea7920adcdbec7375364d82      2017-11-18 19:28:06 2017-11-18 19:45:59          2017-11-22 13:39:59           2017-12-02 00:28:42                    2017-12-15  7c142cf63193a1473d2e66489a9ae977                    59296  sao goncalo do amarante             RN     -5.767733    -35.275467                              1                                1                             1               belo horizonte                               1                                 1                              1                            MG                               1                   1816.652139                   1816.652139                    1816.652139                      1816.652139                   1816.652139                   1816.652139                             0.0                       1.0                     1.0                     1.0                      1.0                        1.0                     1.0                     1.0                       0.0                 1.0                   1.0                1.0       credit_card                         1.0                       1.0                       1.0                        1.0                          1.0                       1.0                       1.0                         0.0                  1.0              72.20              72.20           72.200000                 72.20              72.20             72.200                 0.00               1.0              1.0     2017-11-23 19:45:59     2017-11-23 19:45:59          1.0      45.00      45.00       45.00         45.00      45.00      45.00          0.0                  1.0              27.20              27.20               27.20                 27.20              27.20              27.20                  0.0                          1.0                            1.0                         1.0                   pet_shop                        1.0                     59.0                     59.0                      59.0                        59.0                     59.0                     59.0                        0.0                               1.0                           468.0                           468.0                            468.0                              468.0                           468.0                           468.0                               0.0                       1.0                     3.0                     3.0                      3.0                        3.0                     3.0                     3.0                       0.0                     1.0                 450.0                 450.0                  450.0                    450.0                 450.0                 450.0                     0.0                      1.0                   30.0                   30.0                    30.0                      30.0                   30.0                   30.0                      0.0                      1.0                   10.0                   10.0                    10.0                      10.0                   10.0                   10.0                      0.0                     1.0                  20.0                  20.0                   20.0                     20.0                  20.0                  20.0                     0.0

In [56]:
df['order_purchase_until_approved_in_seconds'] = (df['order_approved_at'] - df['order_purchase_timestamp']).dt.total_seconds()
df['order_purchase_until_approved_in_minutes'] = (df['order_approved_at'] - df['order_purchase_timestamp']).dt.total_seconds() / 60
df['order_purchase_until_approved_in_hours'] = (df['order_approved_at'] - df['order_purchase_timestamp']).dt.total_seconds() / 3600
df['order_purchase_until_approved_in_days'] = (df['order_approved_at'] - df['order_purchase_timestamp']).dt.days

In [57]:
df['order_purchase_timestamp_second'] = df['order_purchase_timestamp'].dt.second
df['order_purchase_timestamp_minute'] = df['order_purchase_timestamp'].dt.minute
df['order_purchase_timestamp_hour'] = df['order_purchase_timestamp'].dt.hour
df['order_purchase_timestamp_day'] = df['order_purchase_timestamp'].dt.day
df['order_purchase_timestamp_month'] = df['order_purchase_timestamp'].dt.month

In [58]:
df['order_approved_at_second'] = df['order_approved_at'].dt.second
df['order_approved_at_minute'] = df['order_approved_at'].dt.minute
df['order_approved_at_hour'] = df['order_approved_at'].dt.hour
df['order_approved_at_day'] = df['order_approved_at'].dt.day
df['order_approved_at_month'] = df['order_approved_at'].dt.month

## Creating the Target

In [59]:
df['delivered_in_days'] = (
    df['order_delivered_customer_date'] - df['order_approved_at']
).dt.days

In [60]:
df['estimated_delivery_in_days'] = (
    df['order_estimated_delivery_date'] - df['order_approved_at']
).dt.days

## Filtering Columns

In [61]:
# remove columns of id and for date of delivered carrier
columns_to_drop = [
    'order_id', 'customer_id', 'customer_unique_id', 'order_delivered_carrier_date', 
    'order_approved_at', 'shipping_limit_date_max', 'shipping_limit_date_min']

df = df.drop(columns=columns_to_drop)

## Saving the Database

In [62]:
df.head()

  order_purchase_timestamp order_delivered_customer_date order_estimated_delivery_date customer_zip_code_prefix            customer_city customer_state  customer_lat  customer_lng  seller_geolocation_city_count  seller_geolocation_city_nunique  seller_geolocation_city_size seller_geolocation_city_mode  seller_geolocation_state_count  seller_geolocation_state_nunique  seller_geolocation_state_size seller_geolocation_state_mode  distance_customer_seller_count  distance_customer_seller_min  distance_customer_seller_max  distance_customer_seller_mean  distance_customer_seller_median  distance_customer_seller_q25  distance_customer_seller_q75  distance_customer_seller_range  payment_sequential_count  payment_sequential_min  payment_sequential_max  payment_sequential_mean  payment_sequential_median  payment_sequential_q25  payment_sequential_q75  payment_sequential_range  payment_type_count  payment_type_nunique  payment_type_size payment_type_mode  payment_installments_count  payment_installments_min  payment_installments_max  payment_installments_mean  payment_installments_median  payment_installments_q25  payment_installments_q75  payment_installments_range  payment_value_count  payment_value_min  payment_value_max  payment_value_mean  payment_value_median  payment_value_q25  payment_value_q75  payment_value_range  product_id_count  seller_id_count  price_count  price_min  price_max  price_mean  price_median  price_q25  price_q75  price_range  freight_value_count  freight_value_min  freight_value_max  freight_value_mean  freight_value_median  freight_value_q25  freight_value_q75  freight_value_range  product_category_name_count  product_category_name_nunique  product_category_name_size product_category_name_mode  product_name_lenght_count  product_name_lenght_min  product_name_lenght_max  product_name_lenght_mean  product_name_lenght_median  product_name_lenght_q25  product_name_lenght_q75  product_name_lenght_range  product_description_lenght_count  product_description_lenght_min  product_description_lenght_max  product_description_lenght_mean  product_description_lenght_median  product_description_lenght_q25  product_description_lenght_q75  product_description_lenght_range  product_photos_qty_count  product_photos_qty_min  product_photos_qty_max  product_photos_qty_mean  product_photos_qty_median  product_photos_qty_q25  product_photos_qty_q75  product_photos_qty_range  product_weight_g_count  product_weight_g_min  product_weight_g_max  product_weight_g_mean  product_weight_g_median  product_weight_g_q25  product_weight_g_q75  product_weight_g_range  product_length_cm_count  product_length_cm_min  product_length_cm_max  product_length_cm_mean  product_length_cm_median  product_length_cm_q25  product_length_cm_q75  product_length_cm_range  product_height_cm_count  product_height_cm_min  product_height_cm_max  product_height_cm_mean  product_height_cm_median  product_height_cm_q25  product_height_cm_q75  product_height_cm_range  product_width_cm_count  product_width_cm_min  product_width_cm_max  product_width_cm_mean  product_width_cm_median  product_width_cm_q25  product_width_cm_q75  product_width_cm_range  order_purchase_until_approved_in_seconds  order_purchase_until_approved_in_minutes  order_purchase_until_approved_in_hours  order_purchase_until_approved_in_days  order_purchase_timestamp_second  order_purchase_timestamp_minute  order_purchase_timestamp_hour  order_purchase_timestamp_day  order_purchase_timestamp_month  order_approved_at_second  order_approved_at_minute  order_approved_at_hour  order_approved_at_day  order_approved_at_month  delivered_in_days  estimated_delivery_in_days
0      2017-10-02 10:56:33           2017-10-10 21:25:13                    2017-10-18                     3149                sao paulo             SP    -23.574809    -46.587471                              1                                1                             1                         maua                               1                                 1                              1                            SP                               1                     18.051106                     18.051106                      18.051106                        18.051106                     18.051106                     18.051106                             0.0                       3.0                     1.0                     3.0                      2.0                        2.0                     1.5                     2.5                       2.0                 3.0                   2.0                3.0           voucher                         3.0                       1.0                       1.0                        1.0                          1.0                       1.0                       1.0                         0.0                  3.0               2.00              18.59           12.903333                 18.12              10.06             18.355                16.59               1.0              1.0          1.0      29.99      29.99       29.99         29.99      29.99      29.99          0.0                  1.0               8.72               8.72                8.72                  8.72               8.72               8.72                  0.0                          1.0                            1.0                         1.0      utilidades_domesticas                        1.0                     40.0                     40.0                      40.0                        40.0                     40.0                     40.0                        0.0                               1.0                           268.0                           268.0                            268.0                              268.0                           268.0                           268.0                               0.0                       1.0                     4.0                     4.0                      4.0                        4.0                     4.0                     4.0                       0.0                     1.0                 500.0                 500.0                  500.0                    500.0                 500.0                 500.0                     0.0                      1.0                   19.0                   19.0                    19.0                      19.0                   19.0                   19.0                      0.0                      1.0                    8.0                    8.0                     8.0                       8.0                    8.0                    8.0                      0.0                     1.0                  13.0                  13.0                   13.0                     13.0                  13.0                  13.0                     0.0                                     642.0                                 10.700000                                0.178333                                    0.0                               33                               56                             10                             2                              10                      15.0                       7.0                    11.0                    2.0                     10.0                8.0                        15.0
1      2018-07-24 20:41:37           2018-08-07 15:27:45                    2018-08-13                    47813                barreiras             BA    -12.169860    -44.988369                              1                                1                             1               belo horizonte                               1                                 1                              1                            MG                               1                    852.256379                    852.256379                     852.256379                       852.256379                    852.256379                    852.256379                             0.0                       1.0                     1.0                     1.0                      1.0                        1.0                     1.0                     1.0                       0.0                 1.0                   1.0                1.0            boleto                         1.0                       1.0                       1.0                        1.0                          1.0                       1.0                       1.0                         0.0                  1.0             141.46             141.46          141.460000                141.46             141.46            141.460                 0.00               1.0              1.0          1.0     118.70     118.70      118.70        118.70     118.70     118.70          0.0                  1.0              22.76              22.76               22.76                 22.76              22.76              22.76                  0.0                          1.0                            1.0                         1.0                 perfumaria                        1.0                     29.0                     29.0                      29.0                        29.0                     29.0                     29.0                        0.0                               1.0                           178.0                           178.0                            178.0                              178.0                           178.0                           178.0                               0.0                       1.0                     1.0                     1.0                      1.0                        1.0                     1.0                     1.0                       0.0                     1.0                 400.0                 400.0                  400.0                    400.0                 400.0                 400.0                     0.0                      1.0                   19.0                   19.0                    19.0                      19.0                   19.0                   19.0                      0.0                      1.0                   13.0                   13.0                    13.0                      13.0                   13.0                   13.0                      0.0                     1.0                  19.0                  19.0                   19.0                     19.0                  19.0                  19.0                     0.0                                  110570.0                               1842.833333                               30.713889                                    1.0                               37                               41                             20                            24                               7                      27.0                      24.0                     3.0                   26.0                      7.0               12.0                        17.0
2      2018-08-08 08:38:49           2018-08-17 18:06:29                    2018-09-04                    75265               vianopolis             GO    -16.746337    -48.514624                              1                                1                             1                      guariba                               1                                 1                              1                            SP                               1                    511.820721                    511.820721                     511.820721                       511.820721                    511.820721                    511.820721                             0.0                       1.0                     1.0                     1.0                      1.0                        1.0                     1.0                     1.0                       0.0                 1.0                   1.0                1.0       credit_card                         1.0                       3.0                       3.0                        3.0                          3.0                       3.0                       3.0                         0.0                  1.0             179.12             179.12          179.120000                179.12             179.12            179.120                 0.00               1.0              1.0          1.0     159.90     159.90      159.90        159.90     159.90     159.90          0.0                  1.0              19.22              19.22               19.22                 19.22              19.22              19.22                  0.0                          1.0                            1.0                         1.0                 automotivo                        1.0                     46.0                     46.0                      46.0                        46.0                     46.0                     46.0                        0.0                               1.0                           232.0                           232.0                            232.0                              232.0                           232.0                           232.0                               0.0                       1.0                     1.0                     1.0                      1.0                        1.0                     1.0                     1.0                       0.0                     1.0                 420.0                 420.0                  420.0                    420.0                 420.0                 420.0                     0.0                      1.0                   24.0                   24.0                    24.0                      24.0                   24.0                   24.0                      0.0                      1.0                   19.0                   19.0                    19.0                      19.0                   19.0                   19.0                      0.0                     1.0                  21.0                  21.0                   21.0                     21.0                  21.0                  21.0                     0.0                                     994.0                                 16.566667                                0.276111                                    0.0                               49                               38                              8                             8                               8                      23.0                      55.0                     8.0                    8.0                      8.0                9.0                        26.0
3      2017-11-18 19:28:06           2017-12-02 00:28:42                    2017-12-15                    59296  sao goncalo do amarante             RN     -5.767733    -35.275467                              1                                1                             1               belo horizonte                               1                                 1                              1                            MG                               1                   1816.652139                   1816.652139                    1816.652139                      1816.652139                   1816.652139                   1816.652139                             0.0                       1.0                     1.0                     1.0                      1.0                        1.0                     1.0                     1.0                       0.0                 1.0                   1.0                1.0       credit_card                         1.0                       1.0                       1.0                        1.0                          1.0                       1.0                       1.0                         0.0                  1.0              72.20              72.20           72.200000                 72.20              72.20             72.200                 0.00               1.0              1.0          1.0      45.00      45.00       45.00         45.00      45.00      45.00          0.0                  1.0              27.20              27.20               27.20                 27.20              27.20              27.20                  0.0                          1.0                            1.0                         1.0                   pet_shop                        1.0                     59.0                     59.0                      59.0                        59.0                     59.0                     59.0                        0.0                               1.0                           468.0                           468.0                            468.0                              468.0                           468.0                           468.0                               0.0                       1.0                     3.0                     3.0                      3.0                        3.0                     3.0                     3.0                       0.0                     1.0                 450.0                 450.0                  450.0                    450.0                 450.0                 450.0                     0.0                      1.0                   30.0                   30.0                    30.0                      30.0                   30.0                   30.0                      0.0                      1.0                   10.0                   10.0                    10.0                      10.0                   10.0                   10.0                      0.0                     1.0                  20.0                  20.0                   20.0                     20.0                  20.0                  20.0                     0.0                                    1073.0                                 17.883333                                0.298056                                    0.0                                6                               28                             19                            18                              11                      59.0                      45.0                    19.0                   18.0                     11.0               13.0                        26.0

In [63]:
df['order_purchase_timestamp'].dt.strftime('%Y-%m').sort_values().value_counts()

order_purchase_timestamp
2017-11    7289
2018-01    7069
2018-03    7003
2018-04    6798
2018-05    6749
2018-02    6555
2018-08    6351
2018-07    6159
2018-06    6099
2017-12    5513
2017-10    4478
2017-08    4193
2017-09    4150
2017-07    3872
2017-05    3546
2017-06    3135
2017-03    2546
2017-04    2303
2017-02    1653
2017-01     750
2016-10     265
2016-12       1
2016-09       1
Name: count, dtype: int64

In [64]:
df.shape

(96478, 146)

In [65]:
df.to_parquet('../data/interim/from_1.0_book_of_variables.parquet')