# Imports

In [1]:
import warnings
import sqlalchemy

import numpy  as np
import pandas as pd

## Functions

In [2]:
random_state = 42
np.random.seed(random_state)

In [3]:
def jupyter_settings():

    # plt.rcParams['figure.figsize'] = [25, 12]
    # plt.rcParams['font.size'] = 16
    
    pd.options.display.max_columns = None
    pd.options.display.max_rows = 100
    pd.set_option('display.expand_frame_repr', False)
    
jupyter_settings()

In [4]:
def change_to_bold(text):

    return f'\033[1m{text}\033[0m'

In [5]:
def get_data_frame_analysis(df):

    print(f"\n{change_to_bold('First 5 lines')}")
    display(df.head())

    print(f"\n{change_to_bold('Last 5 lines')}")
    display(df.tail())

    print(f"\n{change_to_bold('Types')}")
    display(df.dtypes)

    print(f"\n{change_to_bold('Shape')}")
    display(df.shape)

    print(f"\n{change_to_bold('Number of uniques')}")
    display(df.nunique())
    
    print(f"\n{change_to_bold('Percentage of NAs')}")
    display(df.isna().mean())

    print(f"\n{change_to_bold('Number of NAs')}")
    display(df.isna().mean())

# Loading Datasets

In [6]:
df_customers = pd.read_csv('../data/raw/olist_customers_dataset.csv')
df_geolocation = pd.read_csv('../data/raw/olist_geolocation_dataset.csv')
df_items = pd.read_csv('../data/raw/olist_order_items_dataset.csv')
df_payments = pd.read_csv('../data/raw/olist_order_payments_dataset.csv')
df_orders = pd.read_csv('../data/raw/olist_orders_dataset.csv')
df_products = pd.read_csv('../data/raw/olist_products_dataset.csv')
df_sellers = pd.read_csv('../data/raw/olist_sellers_dataset.csv')

# Preprocessing to Database

## Customers

In [7]:
get_data_frame_analysis(df_customers)

First 5 lines

                        customer_id                customer_unique_id  customer_zip_code_prefix          customer_city customer_state
0  06b8999e2fba1a1fbc88172c00ba8bc7  861eff4711a542e4b93843c6dd7febb0                     14409                 franca             SP
1  18955e83d337fd6b2def6b18a428ac77  290c77bc529b7ac935b93aa66c333dc3                      9790  sao bernardo do campo             SP
2  4e7b3e00288586ebd08712fdd0374a03  060e732b5b29e8181a18229c7b0b2b5e                      1151              sao paulo             SP
3  b2b6027bc5c5109e529d4dc6358b12c3  259dac757896d24d7702b9acbbff3f3c                      8775        mogi das cruzes             SP
4  4f2d8ab171c80ec8364f7c12e35b23ad  345ecd01c38d18a9036ed96c73b8d066                     13056               campinas             SP

Last 5 lines

                            customer_id                customer_unique_id  customer_zip_code_prefix    customer_city customer_state
99436  17ddf5dd5d51696bb3d7c6291687be6f  1a29b476fee25c95fbafc67c5ac95cf8                      3937        sao paulo             SP
99437  e7b71a9017aa05c9a7fd292d714858e8  d52a67c98be1cf6a5c84435bd38d095d                      6764  taboao da serra             SP
99438  5e28dfe12db7fb50a4b2f691faecea5e  e9f50caf99f032f0bf3c55141f019d99                     60115        fortaleza             CE
99439  56b18e2166679b8a959d72dd06da27f9  73c2643a0a458b49f58cea58833b192e                     92120           canoas             RS
99440  274fa6071e5e17fe303b9748641082c8  84732c5050c01db9b23e19ba39899398                      6703            cotia             SP

Types

customer_id                 object
customer_unique_id          object
customer_zip_code_prefix     int64
customer_city               object
customer_state              object
dtype: object

Shape

(99441, 5)

Number of uniques

customer_id                 99441
customer_unique_id          96096
customer_zip_code_prefix    14994
customer_city                4119
customer_state                 27
dtype: int64

Percentage of NAs

customer_id                 0.0
customer_unique_id          0.0
customer_zip_code_prefix    0.0
customer_city               0.0
customer_state              0.0
dtype: float64

Number of NAs

customer_id                 0.0
customer_unique_id          0.0
customer_zip_code_prefix    0.0
customer_city               0.0
customer_state              0.0
dtype: float64

In [8]:
df_customers['customer_zip_code_prefix'] = df_customers['customer_zip_code_prefix'].astype(int).astype(str)

## Geolocation

In [9]:
get_data_frame_analysis(df_geolocation)

First 5 lines

   geolocation_zip_code_prefix  geolocation_lat  geolocation_lng geolocation_city geolocation_state
0                         1037       -23.545621       -46.639292        sao paulo                SP
1                         1046       -23.546081       -46.644820        sao paulo                SP
2                         1046       -23.546129       -46.642951        sao paulo                SP
3                         1041       -23.544392       -46.639499        sao paulo                SP
4                         1035       -23.541578       -46.641607        sao paulo                SP

Last 5 lines

         geolocation_zip_code_prefix  geolocation_lat  geolocation_lng geolocation_city geolocation_state
1000158                        99950       -28.068639       -52.010705         tapejara                RS
1000159                        99900       -27.877125       -52.224882   getulio vargas                RS
1000160                        99950       -28.071855       -52.014716         tapejara                RS
1000161                        99980       -28.388932       -51.846871  david canabarro                RS
1000162                        99950       -28.070104       -52.018658         tapejara                RS

Types

geolocation_zip_code_prefix      int64
geolocation_lat                float64
geolocation_lng                float64
geolocation_city                object
geolocation_state               object
dtype: object

Shape

(1000163, 5)

Number of uniques

geolocation_zip_code_prefix     19015
geolocation_lat                717360
geolocation_lng                717613
geolocation_city                 8011
geolocation_state                  27
dtype: int64

Percentage of NAs

geolocation_zip_code_prefix    0.0
geolocation_lat                0.0
geolocation_lng                0.0
geolocation_city               0.0
geolocation_state              0.0
dtype: float64

Number of NAs

geolocation_zip_code_prefix    0.0
geolocation_lat                0.0
geolocation_lng                0.0
geolocation_city               0.0
geolocation_state              0.0
dtype: float64

In [10]:
df_geolocation['geolocation_zip_code_prefix'] = df_geolocation['geolocation_zip_code_prefix'].astype(int).astype(str)

## Items

In [11]:
get_data_frame_analysis(df_items)

First 5 lines

                           order_id  order_item_id                        product_id                         seller_id  shipping_limit_date   price  freight_value
0  00010242fe8c5a6d1ba2dd792cb16214              1  4244733e06e7ecb4970a6e2683c13e61  48436dade18ac8b2bce089ec2a041202  2017-09-19 09:45:35   58.90          13.29
1  00018f77f2f0320c557190d7a144bdd3              1  e5f2d52b802189ee658865ca93d83a8f  dd7ddc04e1b6c2c614352b383efe2d36  2017-05-03 11:05:13  239.90          19.93
2  000229ec398224ef6ca0657da4fc703e              1  c777355d18b72b67abbeef9df44fd0fd  5b51032eddd242adc84c38acab88f23d  2018-01-18 14:48:30  199.00          17.87
3  00024acbcdf0a6daa1e931b038114c75              1  7634da152a4610f1595efa32f14722fc  9d7a1d34a5052409006425275ba1c2b4  2018-08-15 10:10:18   12.99          12.79
4  00042b26cf59d7ce69dfabb4e55b4fd9              1  ac6c3623068f30de03045865e4e10089  df560393f3a51e74553ab94004ba5c87  2017-02-13 13:57:51  199.90          18.14

Last 5 lines

                                order_id  order_item_id                        product_id                         seller_id  shipping_limit_date   price  freight_value
112645  fffc94f6ce00a00581880bf54a75a037              1  4aa6014eceb682077f9dc4bffebc05b0  b8bc237ba3788b23da09c0f1f3a3288c  2018-05-02 04:11:01  299.99          43.41
112646  fffcd46ef2263f404302a634eb57f7eb              1  32e07fd915822b0765e448c4dd74c828  f3c38ab652836d21de61fb8314b69182  2018-07-20 04:31:48  350.00          36.53
112647  fffce4705a9662cd70adb13d4a31832d              1  72a30483855e2eafc67aee5dc2560482  c3cfdc648177fdbbbb35635a37472c53  2017-10-30 17:14:25   99.90          16.95
112648  fffe18544ffabc95dfada21779c9644f              1  9c422a519119dcad7575db5af1ba540e  2b3e4a2a3ea8e01938cabda2a3e5cc79  2017-08-21 00:04:32   55.99           8.72
112649  fffe41c64501cc87c801fd61db3f6244              1  350688d9dc1e75ff97be326363655e01  f7ccf836d21b2fb1de37564105216cc1  2018-06-12 17:10:13   43.00          12.79

Types

order_id                object
order_item_id            int64
product_id              object
seller_id               object
shipping_limit_date     object
price                  float64
freight_value          float64
dtype: object

Shape

(112650, 7)

Number of uniques

order_id               98666
order_item_id             21
product_id             32951
seller_id               3095
shipping_limit_date    93318
price                   5968
freight_value           6999
dtype: int64

Percentage of NAs

order_id               0.0
order_item_id          0.0
product_id             0.0
seller_id              0.0
shipping_limit_date    0.0
price                  0.0
freight_value          0.0
dtype: float64

Number of NAs

order_id               0.0
order_item_id          0.0
product_id             0.0
seller_id              0.0
shipping_limit_date    0.0
price                  0.0
freight_value          0.0
dtype: float64

In [12]:
df_items['shipping_limit_date'] = pd.to_datetime(df_items['shipping_limit_date'], format='%Y-%m-%d %H:%M:%S')

## Payments

In [13]:
get_data_frame_analysis(df_payments)

First 5 lines

                           order_id  payment_sequential payment_type  payment_installments  payment_value
0  b81ef226f3fe1789b1e8b2acac839d17                   1  credit_card                     8          99.33
1  a9810da82917af2d9aefd1278f1dcfa0                   1  credit_card                     1          24.39
2  25e8ea4e93396b6fa0d3dd708e76c1bd                   1  credit_card                     1          65.71
3  ba78997921bbcdc1373bb41e913ab953                   1  credit_card                     8         107.78
4  42fdf880ba16b47b59251dd489d4441a                   1  credit_card                     2         128.45

Last 5 lines

                                order_id  payment_sequential payment_type  payment_installments  payment_value
103881  0406037ad97740d563a178ecc7a2075c                   1       boleto                     1         363.31
103882  7b905861d7c825891d6347454ea7863f                   1  credit_card                     2          96.80
103883  32609bbb3dd69b3c066a6860554a77bf                   1  credit_card                     1          47.77
103884  b8b61059626efa996a60be9bb9320e10                   1  credit_card                     5         369.54
103885  28bbae6599b09d39ca406b747b6632b1                   1       boleto                     1         191.58

Types

order_id                 object
payment_sequential        int64
payment_type             object
payment_installments      int64
payment_value           float64
dtype: object

Shape

(103886, 5)

Number of uniques

order_id                99440
payment_sequential         29
payment_type                5
payment_installments       24
payment_value           29077
dtype: int64

Percentage of NAs

order_id                0.0
payment_sequential      0.0
payment_type            0.0
payment_installments    0.0
payment_value           0.0
dtype: float64

Number of NAs

order_id                0.0
payment_sequential      0.0
payment_type            0.0
payment_installments    0.0
payment_value           0.0
dtype: float64

## Orders

In [14]:
get_data_frame_analysis(df_orders)

First 5 lines

                           order_id                       customer_id order_status order_purchase_timestamp    order_approved_at order_delivered_carrier_date order_delivered_customer_date order_estimated_delivery_date
0  e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d    delivered      2017-10-02 10:56:33  2017-10-02 11:07:15          2017-10-04 19:55:00           2017-10-10 21:25:13           2017-10-18 00:00:00
1  53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef    delivered      2018-07-24 20:41:37  2018-07-26 03:24:27          2018-07-26 14:31:00           2018-08-07 15:27:45           2018-08-13 00:00:00
2  47770eb9100c2d0c44946d9cf07ec65d  41ce2a54c0b03bf3443c3d931a367089    delivered      2018-08-08 08:38:49  2018-08-08 08:55:23          2018-08-08 13:50:00           2018-08-17 18:06:29           2018-09-04 00:00:00
3  949d5b44dbf5de918fe9c16f97b45f8a  f88197465ea7920adcdbec7375364d82    delivered      2017-11-18 19:28:06  2017-11-18 19:45:59          2017-11-22 13:39:59           2017-12-02 00:28:42           2017-12-15 00:00:00
4  ad21c59c0840e6cb83a9ceb5573f8159  8ab97904e6daea8866dbdbc4fb7aad2c    delivered      2018-02-13 21:18:39  2018-02-13 22:20:29          2018-02-14 19:46:34           2018-02-16 18:17:02           2018-02-26 00:00:00

Last 5 lines

                               order_id                       customer_id order_status order_purchase_timestamp    order_approved_at order_delivered_carrier_date order_delivered_customer_date order_estimated_delivery_date
99436  9c5dedf39a927c1b2549525ed64a053c  39bd1228ee8140590ac3aca26f2dfe00    delivered      2017-03-09 09:54:05  2017-03-09 09:54:05          2017-03-10 11:18:03           2017-03-17 15:08:01           2017-03-28 00:00:00
99437  63943bddc261676b46f01ca7ac2f7bd8  1fca14ff2861355f6e5f14306ff977a7    delivered      2018-02-06 12:58:58  2018-02-06 13:10:37          2018-02-07 23:22:42           2018-02-28 17:37:56           2018-03-02 00:00:00
99438  83c1379a015df1e13d02aae0204711ab  1aa71eb042121263aafbe80c1b562c9c    delivered      2017-08-27 14:46:43  2017-08-27 15:04:16          2017-08-28 20:52:26           2017-09-21 11:24:17           2017-09-27 00:00:00
99439  11c177c8e97725db2631073c19f07b62  b331b74b18dc79bcdf6532d51e1637c1    delivered      2018-01-08 21:28:27  2018-01-08 21:36:21          2018-01-12 15:35:03           2018-01-25 23:32:54           2018-02-15 00:00:00
99440  66dea50a8b16d9b4dee7af250b4be1a5  edb027a75a1449115f6b43211ae02a24    delivered      2018-03-08 20:57:30  2018-03-09 11:20:28          2018-03-09 22:11:59           2018-03-16 13:08:30           2018-04-03 00:00:00

Types

order_id                         object
customer_id                      object
order_status                     object
order_purchase_timestamp         object
order_approved_at                object
order_delivered_carrier_date     object
order_delivered_customer_date    object
order_estimated_delivery_date    object
dtype: object

Shape

(99441, 8)

Number of uniques

order_id                         99441
customer_id                      99441
order_status                         8
order_purchase_timestamp         98875
order_approved_at                90733
order_delivered_carrier_date     81018
order_delivered_customer_date    95664
order_estimated_delivery_date      459
dtype: int64

Percentage of NAs

order_id                         0.000000
customer_id                      0.000000
order_status                     0.000000
order_purchase_timestamp         0.000000
order_approved_at                0.001609
order_delivered_carrier_date     0.017930
order_delivered_customer_date    0.029817
order_estimated_delivery_date    0.000000
dtype: float64

Number of NAs

order_id                         0.000000
customer_id                      0.000000
order_status                     0.000000
order_purchase_timestamp         0.000000
order_approved_at                0.001609
order_delivered_carrier_date     0.017930
order_delivered_customer_date    0.029817
order_estimated_delivery_date    0.000000
dtype: float64

In [15]:
df_orders['order_purchase_timestamp'] = pd.to_datetime(df_orders['order_purchase_timestamp'], format='%Y-%m-%d %H:%M:%S')
df_orders['order_approved_at'] = pd.to_datetime(df_orders['order_approved_at'], format='%Y-%m-%d %H:%M:%S')
df_orders['order_delivered_carrier_date'] = pd.to_datetime(df_orders['order_delivered_carrier_date'], format='%Y-%m-%d %H:%M:%S')
df_orders['order_delivered_customer_date'] = pd.to_datetime(df_orders['order_delivered_customer_date'], format='%Y-%m-%d %H:%M:%S')
df_orders['order_estimated_delivery_date'] = pd.to_datetime(df_orders['order_estimated_delivery_date'], format='%Y-%m-%d %H:%M:%S')

## Products

In [16]:
get_data_frame_analysis(df_products)

First 5 lines

                         product_id  product_category_name  product_name_lenght  product_description_lenght  product_photos_qty  product_weight_g  product_length_cm  product_height_cm  product_width_cm
0  1e9e8ef04dbcff4541ed26657ea517e5             perfumaria                 40.0                       287.0                 1.0             225.0               16.0               10.0              14.0
1  3aa071139cb16b67ca9e5dea641aaa2f                  artes                 44.0                       276.0                 1.0            1000.0               30.0               18.0              20.0
2  96bd76ec8810374ed1b65e291975717f          esporte_lazer                 46.0                       250.0                 1.0             154.0               18.0                9.0              15.0
3  cef67bcfe19066a932b7673e239eb23d                  bebes                 27.0                       261.0                 1.0             371.0               26.0                4.0              26.0
4  9dc1a7de274444849c219cff195d0b71  utilidades_domesticas                 37.0                       402.0                 4.0             625.0               20.0               17.0              13.0

Last 5 lines

                             product_id              product_category_name  product_name_lenght  product_description_lenght  product_photos_qty  product_weight_g  product_length_cm  product_height_cm  product_width_cm
32946  a0b7d5a992ccda646f2d34e418fff5a0                   moveis_decoracao                 45.0                        67.0                 2.0           12300.0               40.0               40.0              40.0
32947  bf4538d88321d0fd4412a93c974510e6  construcao_ferramentas_iluminacao                 41.0                       971.0                 1.0            1700.0               16.0               19.0              16.0
32948  9a7c6041fa9592d9d9ef6cfe62a71f8c                    cama_mesa_banho                 50.0                       799.0                 1.0            1400.0               27.0                7.0              27.0
32949  83808703fc0706a22e264b9d75f04a2e             informatica_acessorios                 60.0                       156.0                 2.0             700.0               31.0               13.0              20.0
32950  106392145fca363410d287a815be6de4                    cama_mesa_banho                 58.0                       309.0                 1.0            2083.0               12.0                2.0               7.0

Types

product_id                     object
product_category_name          object
product_name_lenght           float64
product_description_lenght    float64
product_photos_qty            float64
product_weight_g              float64
product_length_cm             float64
product_height_cm             float64
product_width_cm              float64
dtype: object

Shape

(32951, 9)

Number of uniques

product_id                    32951
product_category_name            73
product_name_lenght              66
product_description_lenght     2960
product_photos_qty               19
product_weight_g               2204
product_length_cm                99
product_height_cm               102
product_width_cm                 95
dtype: int64

Percentage of NAs

product_id                    0.000000
product_category_name         0.018512
product_name_lenght           0.018512
product_description_lenght    0.018512
product_photos_qty            0.018512
product_weight_g              0.000061
product_length_cm             0.000061
product_height_cm             0.000061
product_width_cm              0.000061
dtype: float64

Number of NAs

product_id                    0.000000
product_category_name         0.018512
product_name_lenght           0.018512
product_description_lenght    0.018512
product_photos_qty            0.018512
product_weight_g              0.000061
product_length_cm             0.000061
product_height_cm             0.000061
product_width_cm              0.000061
dtype: float64

## Sellers

In [17]:
get_data_frame_analysis(df_sellers)

First 5 lines

                          seller_id  seller_zip_code_prefix        seller_city seller_state
0  3442f8959a84dea7ee197c632cb2df15                   13023           campinas           SP
1  d1b65fc7debc3361ea86b5f14c68d2e2                   13844         mogi guacu           SP
2  ce3ad9de960102d0677a81f5d0bb7b2d                   20031     rio de janeiro           RJ
3  c0f3eea2e14555b6faeea3dd58c1b1c3                    4195          sao paulo           SP
4  51a04a8a6bdcb23deccc82b0b80742cf                   12914  braganca paulista           SP

Last 5 lines

                             seller_id  seller_zip_code_prefix seller_city seller_state
3090  98dddbc4601dd4443ca174359b237166                   87111     sarandi           PR
3091  f8201cab383e484733266d1906e2fdfa                   88137     palhoca           SC
3092  74871d19219c7d518d0090283e03c137                    4650   sao paulo           SP
3093  e603cf3fec55f8697c9059638d6c8eb5                   96080     pelotas           RS
3094  9e25199f6ef7e7c347120ff175652c3b                   12051     taubate           SP

Types

seller_id                 object
seller_zip_code_prefix     int64
seller_city               object
seller_state              object
dtype: object

Shape

(3095, 4)

Number of uniques

seller_id                 3095
seller_zip_code_prefix    2246
seller_city                611
seller_state                23
dtype: int64

Percentage of NAs

seller_id                 0.0
seller_zip_code_prefix    0.0
seller_city               0.0
seller_state              0.0
dtype: float64

Number of NAs

seller_id                 0.0
seller_zip_code_prefix    0.0
seller_city               0.0
seller_state              0.0
dtype: float64

In [18]:
df_sellers['seller_zip_code_prefix'] = df_sellers['seller_zip_code_prefix'].astype(int).astype(str)

## Exporting into parquet

In [19]:
df_customers.to_parquet('../data/processed/olist_customer_from_4.0_database_creation.parquet')
df_geolocation.to_parquet('../data/processed/olist_geolocation_from_4.0_database_creation.parquet')
df_items.to_parquet('../data/processed/olist_order_items_from_4.0_database_creation.parquet')
df_payments.to_parquet('../data/processed/olist_order_payments_from_4.0_database_creation.parquet')
df_orders.to_parquet('../data/processed/olist_orders_from_4.0_database_creation.parquet')
df_products.to_parquet('../data/processed/olist_products_from_4.0_database_creation.parquet')
df_sellers.to_parquet('../data/processed/olist_sellers_from_4.0_database_creation.parquet')

# Inserting into Database

## Creating the Tables

In [20]:
df_customers.dtypes

customer_id                 object
customer_unique_id          object
customer_zip_code_prefix    object
customer_city               object
customer_state              object
dtype: object

In [21]:
df_customers.head()

                        customer_id                customer_unique_id customer_zip_code_prefix          customer_city customer_state
0  06b8999e2fba1a1fbc88172c00ba8bc7  861eff4711a542e4b93843c6dd7febb0                    14409                 franca             SP
1  18955e83d337fd6b2def6b18a428ac77  290c77bc529b7ac935b93aa66c333dc3                     9790  sao bernardo do campo             SP
2  4e7b3e00288586ebd08712fdd0374a03  060e732b5b29e8181a18229c7b0b2b5e                     1151              sao paulo             SP
3  b2b6027bc5c5109e529d4dc6358b12c3  259dac757896d24d7702b9acbbff3f3c                     8775        mogi das cruzes             SP
4  4f2d8ab171c80ec8364f7c12e35b23ad  345ecd01c38d18a9036ed96c73b8d066                    13056               campinas             SP

In [22]:
df_geolocation.dtypes

geolocation_zip_code_prefix     object
geolocation_lat                float64
geolocation_lng                float64
geolocation_city                object
geolocation_state               object
dtype: object

In [23]:
df_geolocation.head()

  geolocation_zip_code_prefix  geolocation_lat  geolocation_lng geolocation_city geolocation_state
0                        1037       -23.545621       -46.639292        sao paulo                SP
1                        1046       -23.546081       -46.644820        sao paulo                SP
2                        1046       -23.546129       -46.642951        sao paulo                SP
3                        1041       -23.544392       -46.639499        sao paulo                SP
4                        1035       -23.541578       -46.641607        sao paulo                SP

In [24]:
df_items.dtypes

order_id                       object
order_item_id                   int64
product_id                     object
seller_id                      object
shipping_limit_date    datetime64[ns]
price                         float64
freight_value                 float64
dtype: object

In [25]:
df_items.head()

                           order_id  order_item_id                        product_id                         seller_id shipping_limit_date   price  freight_value
0  00010242fe8c5a6d1ba2dd792cb16214              1  4244733e06e7ecb4970a6e2683c13e61  48436dade18ac8b2bce089ec2a041202 2017-09-19 09:45:35   58.90          13.29
1  00018f77f2f0320c557190d7a144bdd3              1  e5f2d52b802189ee658865ca93d83a8f  dd7ddc04e1b6c2c614352b383efe2d36 2017-05-03 11:05:13  239.90          19.93
2  000229ec398224ef6ca0657da4fc703e              1  c777355d18b72b67abbeef9df44fd0fd  5b51032eddd242adc84c38acab88f23d 2018-01-18 14:48:30  199.00          17.87
3  00024acbcdf0a6daa1e931b038114c75              1  7634da152a4610f1595efa32f14722fc  9d7a1d34a5052409006425275ba1c2b4 2018-08-15 10:10:18   12.99          12.79
4  00042b26cf59d7ce69dfabb4e55b4fd9              1  ac6c3623068f30de03045865e4e10089  df560393f3a51e74553ab94004ba5c87 2017-02-13 13:57:51  199.90          18.14

In [26]:
df_payments.dtypes

order_id                 object
payment_sequential        int64
payment_type             object
payment_installments      int64
payment_value           float64
dtype: object

In [27]:
df_payments.head()

                           order_id  payment_sequential payment_type  payment_installments  payment_value
0  b81ef226f3fe1789b1e8b2acac839d17                   1  credit_card                     8          99.33
1  a9810da82917af2d9aefd1278f1dcfa0                   1  credit_card                     1          24.39
2  25e8ea4e93396b6fa0d3dd708e76c1bd                   1  credit_card                     1          65.71
3  ba78997921bbcdc1373bb41e913ab953                   1  credit_card                     8         107.78
4  42fdf880ba16b47b59251dd489d4441a                   1  credit_card                     2         128.45

In [28]:
df_orders.dtypes

order_id                                 object
customer_id                              object
order_status                             object
order_purchase_timestamp         datetime64[ns]
order_approved_at                datetime64[ns]
order_delivered_carrier_date     datetime64[ns]
order_delivered_customer_date    datetime64[ns]
order_estimated_delivery_date    datetime64[ns]
dtype: object

In [29]:
df_orders.head()

                           order_id                       customer_id order_status order_purchase_timestamp   order_approved_at order_delivered_carrier_date order_delivered_customer_date order_estimated_delivery_date
0  e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d    delivered      2017-10-02 10:56:33 2017-10-02 11:07:15          2017-10-04 19:55:00           2017-10-10 21:25:13                    2017-10-18
1  53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef    delivered      2018-07-24 20:41:37 2018-07-26 03:24:27          2018-07-26 14:31:00           2018-08-07 15:27:45                    2018-08-13
2  47770eb9100c2d0c44946d9cf07ec65d  41ce2a54c0b03bf3443c3d931a367089    delivered      2018-08-08 08:38:49 2018-08-08 08:55:23          2018-08-08 13:50:00           2018-08-17 18:06:29                    2018-09-04
3  949d5b44dbf5de918fe9c16f97b45f8a  f88197465ea7920adcdbec7375364d82    delivered      2017-11-18 19:28:06 2017-11-18 19:45:59          2017-11-22 13:39:59           2017-12-02 00:28:42                    2017-12-15
4  ad21c59c0840e6cb83a9ceb5573f8159  8ab97904e6daea8866dbdbc4fb7aad2c    delivered      2018-02-13 21:18:39 2018-02-13 22:20:29          2018-02-14 19:46:34           2018-02-16 18:17:02                    2018-02-26

In [30]:
df_products.dtypes

product_id                     object
product_category_name          object
product_name_lenght           float64
product_description_lenght    float64
product_photos_qty            float64
product_weight_g              float64
product_length_cm             float64
product_height_cm             float64
product_width_cm              float64
dtype: object

In [31]:
df_products.head()

                         product_id  product_category_name  product_name_lenght  product_description_lenght  product_photos_qty  product_weight_g  product_length_cm  product_height_cm  product_width_cm
0  1e9e8ef04dbcff4541ed26657ea517e5             perfumaria                 40.0                       287.0                 1.0             225.0               16.0               10.0              14.0
1  3aa071139cb16b67ca9e5dea641aaa2f                  artes                 44.0                       276.0                 1.0            1000.0               30.0               18.0              20.0
2  96bd76ec8810374ed1b65e291975717f          esporte_lazer                 46.0                       250.0                 1.0             154.0               18.0                9.0              15.0
3  cef67bcfe19066a932b7673e239eb23d                  bebes                 27.0                       261.0                 1.0             371.0               26.0                4.0              26.0
4  9dc1a7de274444849c219cff195d0b71  utilidades_domesticas                 37.0                       402.0                 4.0             625.0               20.0               17.0              13.0

In [32]:
df_sellers.dtypes

seller_id                 object
seller_zip_code_prefix    object
seller_city               object
seller_state              object
dtype: object

In [33]:
df_sellers.head()

                          seller_id seller_zip_code_prefix        seller_city seller_state
0  3442f8959a84dea7ee197c632cb2df15                  13023           campinas           SP
1  d1b65fc7debc3361ea86b5f14c68d2e2                  13844         mogi guacu           SP
2  ce3ad9de960102d0677a81f5d0bb7b2d                  20031     rio de janeiro           RJ
3  c0f3eea2e14555b6faeea3dd58c1b1c3                   4195          sao paulo           SP
4  51a04a8a6bdcb23deccc82b0b80742cf                  12914  braganca paulista           SP

## Inserting into Database

In [36]:
engine = sqlalchemy.create_engine('mysql+pymysql://root:admin@0.0.0.0:3306/olistdb')

In [37]:
df_customers.to_sql('customers', engine, if_exists='replace', index=False)

99441

In [38]:
df_geolocation.to_sql('geolocation', engine, if_exists='replace', index=False)

1000163

In [39]:
df_items.to_sql('items', engine, if_exists='replace', index=False)

112650

In [40]:
df_payments.to_sql('payments', engine, if_exists='replace', index=False)

103886

In [41]:
df_orders.to_sql('orders', engine, if_exists='replace', index=False)

99441

In [42]:
df_products.to_sql('products', engine, if_exists='replace', index=False)

32951

In [43]:
df_sellers.to_sql('sellers', engine, if_exists='replace', index=False)

3095